@import '../../../assets/scss/mixin.scss';


.AdminWalletUpload {
  background: #e3e4ff;
  border-radius: 20px;
  padding: 1rem;
  position: relative;

  .AWU-Img-sec {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1;
    .AWU-Img {
      //   position: absolute;
      width: 178px;
      height: 178px;
      //   top: 21px;
      //   left: 29px;
      background: rgba(255, 255, 255, 0.75);
      box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      padding: 1rem;
    }
  }
  .AWU-Txt-Sec {
    .AWU-Heading {
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      color: #0e1133;
    }
    .AWU-Para {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #0e1133;
    }
  }

  .IMG-sec {
    .img-doc {
      width: 498.64px;
    height: 654.41px;
      background: rgba(255, 255, 255, 0.75);
      box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
      border-radius: 20px;

      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      text-align: center;
      align-items: center;
      position: relative;

      &::after {
        content: " ";
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        // border: 5px solid red;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: -1rem;
        left: -1rem;
      }

      .docImg {
        margin-top: 2rem;
        width: 65%;
        height: 45vh;
      }

      .docText {
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        color: #b1b2ff;
        text-shadow: 0px 0px 10px #ffffff;
      }
    }
  }

  .rec-sec {
    position: relative;
    padding: 1rem 2rem;

    .rectangle-img {
      width: 183px;
      height: 190px;
      //   background: rgba(2, 0, 255, 0.2);
      border-radius: 20px;
      position: absolute;
      bottom: -2rem;
      left: 3rem;
    }

    .frame-img {
      width: 205px;
      height: 241px;
      position: absolute;
      bottom: -5rem;
      right: 2rem;
    }
  }
  .docu-sec {
    margin-right: 5rem;
    .docu-head {
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 32px;
      /* identical to box height */

      color: #0e1133;
    }
    .computer {
      display: flex;
      align-items: center;
      width: 100%;
      height: 61px;
      background: #cccdff;
      border-radius: 10px;

      .com-photo {
        width: 32px;
        height: 28.8px;
        margin-left: 1rem;
      }

      label.label input[type="file"] {
        position: absolute;
        top: -10000px;
      }
      .label {
        cursor: pointer;
        border-radius: 5px;
        padding: 5px 15px;
        margin: 5px;

        display: inline-block;
      }

      .label span {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #6463ff;
      }
    }
  }

  .form-AWU {
    background: #ffffff;
    border-radius: 10px;
    padding: 1rem;

    .docu-head {
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 32px;
      /* identical to box height */

      color: #0e1133;
    }
    .computer {
      display: flex;
      align-items: center;
      width: 100%;
      height: 61px;
      background: #cccdff;
      border-radius: 10px;

      .com-photo {
        width: 32px;
        height: 28.8px;
        margin-left: 1rem;
      }

      label.label input[type="file"] {
        position: absolute;
        top: -10000px;
      }
      .label {
        cursor: pointer;
        border-radius: 5px;
        padding: 5px 15px;
        margin: 5px;

        display: inline-block;
      }

      .label span {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #6463ff;
      }
    }
    .computer-text {
      background: #cccdff;
      border-radius: 10px;
      width: 100%;
      height: 20vh;
      border: none;
      outline: none;

      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      padding: 1rem;
      color: #6463ff;
    }

    .bttn-sec {
      display: flex;
      justify-content: flex-end;
      gap: 2rem;
      margin: 1rem;
      text-align: center;
      align-items: center;
      .upload {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #ffffff;

        background: #4bae4f;
        border-radius: 10px;
        padding: 0.5rem 2rem;
      }
      .or {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;

        color: #7170ff;
      }
      .Cancel {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;

        color: #7170ff;
      }
    }
  }
}
.second-main {
  background: #e3e4ff;
  border-radius: 20px;
  padding: 1rem;

  .img-sec {
    display: flex;
    justify-content: center;
    .second-img {
      width: 178px;
      height: 178px;
    }
  }

  .txt-sec {
    .text-heading {
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      color: #0e1133;
    }
    .para-text {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #0e1133;
    }

    .text-flex {
      @include reset-list;

      .drop-down {
        @include reset-list;
        gap: 2rem;

        .category-s {
          .select-sec {
            @include selec-sec;
          }
        }

        .document-type-s {
          .select-sec {
            @include selec-sec;
          }
        }

        .all-date-s {
          .select-sec {
            @include selec-sec;
          }
        }
      }

      .icn-flex {
        @include reset-list;
        gap: 2rem;
      }
    }
  }

  .second-section {
    background: #cccdff;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;

    .second-section-flex {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
      .rel-sec {
        position: relative;
        .doc-sec {
          height: 121px;
          width: 151px;
          background: rgba(255, 255, 255, 0.5);
          border-radius: 10px;
          padding: 0.5rem;
        }

        .abst {
          position: absolute;
          bottom: 0;
          left: 0;

          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 18px;
          text-align: center;

          color: #000000;
          background: #ffffff;

          padding: 0.5rem;
          margin: 0.5rem;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          width: 133px;
        }
      }
    }

    .btn-next {
      margin: 3rem 0 1rem 0;
      display: flex;
      justify-content: right;
      align-items: center;
      gap: 2rem;

      .txt {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #a2a2ff;
      }

      .next-bt {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #ffffff;

        background: #4bae4f;
        border-radius: 10px;
        padding: 7px 31px;
      }
    }
  }
}

// Media Query

@media screen and (max-width: 1254px) {
  .AdminWalletUpload .rec-sec .rectangle-img {
    width: 140px;
    height: 140px;
    bottom: -3rem;
  }

  .AdminWalletUpload .rec-sec .frame-img {
    width: 150px;
    height: 150px;
    bottom: -3rem;
  }
}

@media screen and (max-width: 1160px) {
  .AWU-Txt-Sec {
    margin-left: 2rem;
  }

  .AdminWalletUpload .rec-sec .rectangle-img {
    width: 105px;
    height: 91px;
    bottom: -1rem;
  }

  .AdminWalletUpload .rec-sec .frame-img {
    width: 108px;
    height: 121px;
    bottom: -2rem;
  }
}

@media screen and (max-width: 992px) {
  .AdminWalletUpload .AWU-Img-sec {
    position: unset;
    text-align: center;
  }
  .AWU-Txt-Sec {
    margin-left: unset;
    text-align: center;
  }

  .AdminWalletUpload .docu-sec {
    margin-right: unset;
    margin-top: 3rem;
  }

  .AdminWalletUpload .form-AWU {
    margin: 1rem 0rem 2rem 0;
  }

  .AdminWalletUpload .form-AWU .bttn-sec {
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .AdminWalletUpload .AWU-Img-sec .AWU-Img {
    width: 150px;
    height: 150px;
  }

  .AdminWalletUpload .AWU-Txt-Sec .AWU-Heading {
    font-size: 24px;
  }

  .AdminWalletUpload .AWU-Txt-Sec .AWU-Para {
    font-size: 15px;
  }

  .AdminWalletUpload .IMG-sec .img-doc .docText {
    font-size: 24px;
  }
  .AdminWalletUpload .docu-sec .docu-head {
    font-size: 20px;
  }
  .AdminWalletUpload .docu-sec .computer .label span {
    font-size: 20px;
  }

  .AdminWalletUpload .form-AWU .docu-head {
    font-size: 20px;
  }

  .AdminWalletUpload .form-AWU .computer .label span {
    font-size: 20px;
  }

  .AdminWalletUpload .form-AWU .computer-text {
    font-size: 20px;
  }

  .AdminWalletUpload .IMG-sec {
    margin: 0 1rem;
  }

  .AdminWalletUpload .rec-sec .rectangle-img {
    left: 0rem;
  }

  .AdminWalletUpload .rec-sec .frame-img {
    right: 0rem;
  }
}

@media screen and (max-width: 400px) {
  .container-fluid {
    width: 406px !important;
  }

  .AdminWalletUpload .form-AWU .bttn-sec {
    gap: 1rem;
  }

  .AdminWalletUpload .form-AWU .bttn-sec .upload {
    font-size: 20px;
    border-radius: 8px;
    padding: 0.4rem 1.5rem;
  }

  .AdminWalletUpload .form-AWU .bttn-sec .or {
    font-size: 20px;
  }

  .AdminWalletUpload .form-AWU .bttn-sec .Cancel {
    font-size: 20px;
  }
}
