.DPS {
  width: 100%;
  height: 100vh;
  padding: 5rem 10rem;
  .Certificate-main {
    background: #fff;
    border: 5px solid #cb1414;
    width: 100%;
    height: 100vh;
    padding: 5rem 10rem;

    .school-name {
      font-size: 32px;
      font-family: cursive;
    }
    .session {
      font-size: 24px;
      padding: 1rem 0;
    }
    .schoolLogo {
      width: 200px;
    }
    .certificate-purpose {
      font-size: 24px;
      padding: 1rem 0;
    }

    .details {
      .flex {
        display: flex;
        .label-input {
          font-size: 24px;
        }
        .in-2 {
          width: 9rem;
        }
        .in-3 {
          width: 8rem;
        }
        .input-form {
          font-size: 24px;
          width: 100%;
          border: none;
          outline: none;
          padding: 0 0 0 2rem;
          //   text-decoration-line: underline;
          border-bottom: 1px dashed black;
        }
      }
    }
    .last-component {
      display: flex;
      justify-content: flex-start;
      gap: 65%;
      padding: 4rem 0;

      .principal {
        font-size: 24px;
        .signa {
          width: 6rem;
        }
      }
      .date {
        font-size: 24px;
      }
    }
  }
}
