@import "@styles/mixin.scss";
@import "@styles/variable.scss";

.HeroSectionWrapper {
  background-color: #b1b2ff;
  padding: 220px 0 30px;
}
.headingAboutUs.Montserrat {
  width: 80%;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.headingAboutUs h1 {
  font-weight: 700;
  font-size: 50px;
  text-align: center;
}
.headingAboutUs p {
  font-size: 18px;
}
.aboutbox1 {
  width: 80%;
  margin: 0 auto;
  display: block;
  font-family: "Montserrat";
}
.aboutbox1 img {
  width: 80%;
  margin: 0 auto;
  display: block;
}
.aboutbox1 h4 {
  font-size: 20px;
  text-align: center;
  width: 90%;
  color: #0e1133;
  font-weight: 700;
}
.aboutbox1 p {
  font-size: 18px;
  font-family: "Montserrat";
  color: #0e1133;
  font-weight: 400;
  text-align: center;
  width: 90%;
}
.FutureImageBox {
  position: relative;
  width: 100%;
}
.IconOver {
  position: absolute;
  right: 0px;
  width: 120px;
  right: -10%;
  top: 10%;
}
.CardAbout {
  --bs-card-bg: #ffffff00 !important;
  border: none !important;
  margin-top: 60px;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}
.AboutPera {
  color: #ccd0ff;
}
.AboutheadingTwo {
  color: #fff;
  font-size: 45px;
}
.AboutHeadingOne {
  font-size: 35px;
}

@media screen and (max-width: 520px) {

  .AboutheadingTwo {
    color: #fff;
    font-size: 25px;
  }
  .AboutHeadingOne {
    font-size: 20px;
  }
}
