//
@import "@styles/mixin.scss";

.css-ahj2mt-MuiTypography-root {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;

  color: #0e1133;
}

.admission-wrapper {
  .mt-12{
    padding-top: 15rem;
  }
  .box {
    background: #7171ff;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 2rem;
    position: relative;

    // &::after {
    //   content: "";
    //   background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    //   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    //   border-radius: 20px;
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   top: 1rem;
    //   left: -1rem;

    // }
    .box-upper {
      display: flex;
      justify-content: flex-start;
      gap: 1rem;
      .img {
        @include icons;
        padding: 1rem;
      }
      .text {
        .head1 {
          font-style: normal;
          font-weight: 400;
          font-size: 40px;
          line-height: 100%;

          letter-spacing: 0.01em;

          color: #0e1133;
        }
        .head2 {
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 100%;

          color: #ffffff;
        }
        .para {
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 120%;

          color: #ccd0ff;
        }
      }
    }
    .box-lower {
      .head {
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;

        color: #ffffff;
        padding: 2rem 0;
      }

      .multi-selection {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        .card {
          // width: 230px;

          .form-control {
          }
        }
      }

      .compareSchool {
        .schoolCard {
          position: relative;
          margin-top: 5rem;
          .imgg {
            @include icons;
            width: 100px;
            height: 100px;
            padding: 0.8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: absolute;

            top: -44px;
            left: 27px;
          }
          .upper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            background: #ffffff;
            border-radius: 10px 10px 0px 0px;
            padding: 0 1rem;
            .school {
              margin-bottom: unset;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 27px;
              margin-left: 8rem;

              color: #000000;
              .bold {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 27px;

                text-decoration-line: underline;

                color: #000000;
              }
            }
            .check {
              // font-style: normal;
              // font-weight: 400;
              // font-size: 20px;
              // line-height: 24px;
              // text-transform: uppercase;

              // color: #0e1133;
            }
          }
          .middle {
            display: flex;
            justify-content: space-between;
            align-items: center;

            background: #ccd0ff;
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
            border-radius: 0;

            padding: 1rem;
            .wrap {
              .head1 {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 200%;

                color: #0e1133;
              }
              .head2 {
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 200%;

                color: #000000;
              }
            }
          }

          .lower {
            display: flex;
            justify-content: space-between;
            align-items: center;

            background: rgba(113, 113, 255, 0.5);
            border-radius: 0px 0px 10px 10px;
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
            padding: 1rem;
            .txt {
              .img {
                width: 30px;
                margin-right: 0.5rem;
              }
              .verify {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                text-transform: uppercase;
                color: #000000;
                border-right: 1px solid #000000;
                padding-right: 1rem;
              }
              .para {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 27px;

                color: #0e1133;
                padding-left: 1rem;
              }
            }

            .bttn {
              display: flex;
              justify-content: space-between;
              gap: 1rem;
              .btn1 {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;

                text-align: center;

                color: #ffffff;

                background: #7171ff;

                box-shadow: inset -1px -1px 2px #ffffff,
                  inset 1px 1px 1px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                padding: 0.5rem 2rem;
              }
              .btn2 {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;

                text-align: center;

                color: #ffffff;

                background: #4bae4f;

                box-shadow: inset -1px -1px 2px #ffffff,
                  inset 1px 1px 1px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                padding: 0.5rem 2rem;
              }
            }
          }
        }
      }
    }
  }
}
