@import "@styles/mixin.scss";
@import "@styles/variable.scss";

.admin-profile-container {
  .icon-text-div {
    // width: 200px;
    // height: 145px;
    // position: absolute;
    // left: 85px;
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: -63px;
  }

  .icn-sec {
    @include icons;
    // position: relative;
    // left: 0px;
    // top: 0px;
  }

  .main-heading {
    font-weight: 700;
    display: flex;

    justify-content: center;
    margin: 25px;
    // position: relative;
    // top: -95px;
    // left: 144px;
  }

  .sub-heading {
    font-weight: 500;
    margin: 17px;
  }

  .admin-profile1 {

    background-color: #CCCDFF;
    border-radius: 15px;
    margin: 55px 15px 15px 15px;
    padding: 55px 10px 55px 10px;
    display: flex;
    // align-items: center;
    // justify-content: center;

    .container1 {
      align-items: center;
      padding: 10px;
      margin-bottom: 30px;
      margin-left: 65px;

      &:hover {
        background: #fff;
        border-radius: 10px;

        .img-container {
          background: $bg;
        }
      }

    }

    .img-container {
      @include icons;
      width: 110px;
      height: 110px;
      text-align: center;
      border: 6px solid rgba(255, 255, 255, 0.75);
      padding: 5px;
    }

    p {
      line-height: 1.2;
    }
  }
}

.non-academic-container {
  .icon-text-div {

    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: -60px;
    margin-top: 38px;
  }

  .icn-sec {
    @include icons;

  }

  .main-heading {
    font-weight: 700;
    display: flex;

    justify-content: center;
    margin: 25px;

  }

  .sub-heading {
    font-weight: 500;
    margin: 17px;
  }

  .main-container {
    //background-color: #e3e4ff;
    background-color: #CCCDFF;
    border-radius: 15px;
    margin: 85px 15px 15px 15px;
    padding: 10px;

    .text-container {
      width: 80%;
      margin-left: 75px;
    }

    .card-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 0px;

      .card-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
        width: 20%;

        .card-img {
          width: 110px;
          height: 110px;
          display: flex;
          padding-top: 8px;
          padding-bottom: 8px;
          border-radius: 20px;
          text-align: center;
          background-color: #fff;
          border: 5px solid #e5e6ff;

        }

        .card-img:hover {
          background-color: #7171ff;
        }

        p {
          padding-top: 10px;
          text-align: center;
          width: 115px;
          font-weight: 500;
        }
      }
    }

  }


}

.profile2-container {
  .icon-text-div {

    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: -60px;
    margin-top: 38px;
  }

  .icn-sec {
    @include icons;

  }

  .main-heading {
    font-weight: 700;
    display: flex;

    justify-content: center;
    margin: 25px;

  }

  .wallet1 {
    //background-color: #e3e4ff;
    background-color: #CCCDFF;
    border-radius: 15px;
    margin: 85px 15px 15px 15px;
    padding: 10px;

    .text-container {
      width: 80%;
      margin-left: 75px;
    }

    .button-container {
      display: flex;
      margin-left: 75px;
      height: 400px;

      button {
        height: 89px;
        width: 89px;
        border-radius: 15px;
        border: none;
      }
    }

    .add-icon {
      @include icons;
      width: 100px;
      height: 100px;

      border: 5px solid #d8d9f1;

      span {
        font-size: 60px;
        text-align: center;
        color: #B1B2FF;
      }
    }
  }

  .checkboxes {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: max-content;
    justify-content: center;
    padding: 11px;
    border-radius: 10px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);

    label {
      display: inline-block;
      font-size: 20px;
      line-height: 1.5;
      margin: 0px;
      padding: 2px 15px;
      color: #878899;

      &:hover {
        // font-size: 24px;
        font-weight: 600;
        color: #000;
      }
    }

    input[type='checkbox'] {
      position: relative;
      top: 6px;
      margin: 8px;
      width: 23px;
      height: 23px;
      content: "";
      background: #E3E4FF;
      border: 1px solid #B1B2FF;
      box-shadow: inset -4px -4px 4px #FFFFFF, inset 4px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
    }

    input[type='checkbox']:checked {
      outline: 2px solid black;

    }

  }
}



@media screen and (max-width:576px) {
  .non-academic-container {
    .icon-text-div {
      margin-top: 19px;
    }

    .main-container {
      .text-container {
        margin: auto;
      }

      .card-container {
        flex-direction: column;
        align-items: center;
      }

      .second-section-flex {
        justify-content: center;
      }
    }
  }

  .admin-profile-container {
    .main-heading {
      font-weight: 700;
    }

    .admin-profile1 {
      .container1 {
        margin: auto;
      }
    }

  }

  .profile2-container {
    .main-heading {
      font-weight: 700;
    }

    .wallet1 {
      .text-container {
        margin: 45px auto;
      }

      .button-container {
        position: relative;
        height: 293px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0px;

        .add-icon {
          width: 65px;
          height: 65px;

        }

        // position: relative;
        // margin-left: 28px;
        // height: 293px;
        button {
          height: 55px;
          width: 55px;

          span {
            font-size: 35px;
          }
        }
      }
      .checkboxes {
        overflow: scroll;
        padding: 10px 0px;
        // position: relative;
        // right: 74px;
         width: 241px;
      }
  
      label {
        /*display: inline-block; 
            font-size: 16px;
             line-height: 1.5; */
        color: #878899;
        margin: -5px;
        font-size: 14px;
  
        &:hover {
          font-size: 16px;
          font-weight: 600;
          color: #000;
        }
      }
  
      input[type='checkbox'] {
        box-sizing: border-box;
        padding: 0;
        margin: 6px 15px 7px 9px;
        height: 19px;
        width: 19px;
      }

    }

    
  }
}






// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {}