//

.level-1 {
  margin: 1rem;
  .box {
    background: #e3e4ff;
    border-radius: 20px;
    padding: 2rem;

    .text {
      .head {
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 39px;
        /* identical to box height */

        color: #0e1133;
      }
      .para {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;

        color: #0e1133;
      }
      .point {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;

        color: #0e1133;
        .point-level {
          font-weight: 700;
        }
      }
    }

    .link {
      padding: 2rem;

      .head {
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;

        color: #0e1133;
      }
      .para {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;

        color: #0e1133;
      }
      .referral {
        .referral-link {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          padding: 0.5rem;
          box-shadow: inset -1px -1px 2px #ffffff,
            inset 1px 1px 1px rgba(0, 0, 0, 0.25);

          background: #f3f4ff;
          border-radius: 10px;

          .copy-l {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            .img-p {
              width: 100%;
            }
            .r-link {
              margin-bottom: unset;
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 27px;
              /* identical to box height */

              color: #0e1133;
            }
          }

          .copy {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            .c-img {
              width: 35px;
            }
            .cl {
              margin-bottom: unset;
              font-style: normal;
              font-weight: 400;
              font-size: 22px;
              line-height: 27px;
              /* identical to box height */

              color: #5c5bff;
            }
          }
        }
      }
    }
  }
}
