.main-com {
  position: relative;

  .im-flex {
    .docu {
      position: absolute;
      width: 178px;
      height: 178px;
      top: 21px;
      left: 29px;

      background: rgba(255, 255, 255, 0.75);
      box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      padding: 1rem;
    }
  }

  .heading {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #0e1133;
    padding-top: 42px;
    margin-left: 14rem;
  }

  .inner-com {
    background: #cccdff;
    border-radius: 20px;
    margin: 0 106px;
    padding: 0 113px;

    .head {
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 34px;
      color: #0e1133;
    }
    .para {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;

      color: #0e1133;
    }
    .school {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      padding-bottom: 2rem;
      .card {
        width: 133px;
        height: 163px;
        background: #cccdff;
        border: none;

        .inn-sch {
          background: rgba(255, 255, 255, 0.5);
          border-radius: 20px;
          padding: 0.8rem;

          .school-img {
            width: 106px;
            height: 106px;
            padding: 1rem;
            background: #ffffff;
            border-radius: 20px;
          }
        }
        .school-name {
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          color: #000000;
        }
      }
    }
  }

  .recently-view-document {
    margin: 0 106px;
    padding-bottom: 32px;

    .recently-head {
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 34px;
      color: #0e1133;
      margin-top: 1rem;
    }

    .recently {
      background: #cccdff;
      border-radius: 20px;
      padding: 1rem;
      // transform: matrix(1, 0, 0, -1, 0, 0);

      .recently-card {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 1rem;
        .img-card {
          position: relative;
          .card-view {
            padding: 0.5rem;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 10px;
            width: 151px;
            height: 121px;
          }
          .card-view-name {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0.5rem;
            margin: 0.5rem;
            background: white;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            width: 133px;
            text-align: center;
          }
        }
      }
    }
  }
}
.Accademic-main {
  background: #e3e4ff;
  border-radius: 20px;
  padding: 1rem;
  position: relative;

  .img-sec {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 99;
    top: 10px;
    left: 38px;
    .second-img {
      background: rgba(255, 255, 255, 0.75);
      box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      padding: 1rem;
    }
  }

  .txt-sec {
    .text-heading {
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      color: #0e1133;
    }
    .para-text {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #0e1133;
    }
  }

  .Aca-form {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 0 68px;
    padding: 50px 148px;
    position: relative;

    // position: absolute;
    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
      top: 18px;
      background-size: 100% 100%;
      position: absolute;
      left: -20px;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 20px;
    }

    .mb-3 {
      .title-form {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;

        color: #0e1133;
      }
      .bg-col {
        background: #cccdff;
        border-radius: 10px;
      }
      .fle-form {
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
        align-items: center;
      }
    }
  }
}
// Media Query

@media screen and (max-width: 768px) {
  .main-com {
    .profile-m {
      .im-flex {
        position: unset;
      }
    }
  }
  .main-com .inner-com {
    padding: 0 2rem;
  }
  .main-com .inner-com .school {
    justify-content: center;
  }

  .main-com .inner-com .head {
    padding-top: 1rem;
    font-size: 22px;
    text-align: center;
  }

  .main-com .heading {
    font-size: 24px;
    text-align: center;
    margin-left: unset;
  }
}

@media screen and (max-width: 678px) {
  .main-com .docu {
    position: unset !important;
  }

  .im-flex {
    display: flex;
    justify-content: center;
  }

  .main-com .heading {
    line-height: unset;
    padding-top: unset;
  }

  .main-com .inner-com .school {
    gap: 30px;
  }

  .main-com .inner-com .head {
    padding-top: 1rem;
    font-size: 22px;
    text-align: center;
  }

  .main-com .inner-com .para {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #0e1133;
  }

  .main-com .inner-com .school .card .school-name {
    font-size: 15px;
  }
}

@media screen and (max-width: 576px) {
  .main-com .inner-com {
    margin: 0 2rem;
  }

  .main-com .recently-view-document {
    margin: 0 2rem;
  }
}
