@import "@styles/mixin.scss";
@import "@styles/variable.scss";
.admin-first {
  position: relative;
  display: flex;
  // height: 100vh;
  height: 100%;
  .rel-abs {
    position: absolute;
    width: 100%;
    top: 24px;
    z-index: 99;
  }

  .com {
    background-color: #5251d6;
    padding: 10rem 2rem 1rem 2rem !important;

    .admin-flex {
      display: flex;
      align-items: center;
      gap: 1rem;

      .admin-icon {
        width: 32px;
        height: 32px;
      }
      .admin-name {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 50px;
        color: #b1b2ff;
      }
    }
  }

 
}
.main-admin{
  .wrapper{
    height: 100%;
    background: #e3e4ff;
    border-radius: 20px;
    padding: 0 0 8rem;
    position: relative;
    filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.25));
    .ms-7 {
      margin-left: 7rem;
    }
    .bg{
      background: $lights-blue;
      border-radius: 20px;
      padding: 2rem 7rem;
      position: relative;
      .hover{
        padding: 10px;
        cursor: pointer;
        &:hover{

          background: #fff;
          border-radius: 15px;
          .sm-icons{
            background: $bg;
          }
          
        }
      }
      h2{
        @include heading-28;
      }
      .main-icons{
        flex: 0 0 11%;
        .sm-icons{
          @include admin-icons;
          @include h-center;
          padding: 8px;
          border: 4px solid $blue;
          box-shadow: none;
          width: 100px;
          height: 100px;
        }
      }
      .icons{
        @include admin-icons;
        @include h-center;
        padding: 15px;
        position: absolute;
        top: -60px;
        left: -60px;
      }
      .box{
        box-shadow: inset -1px -1px 2px $white, inset 1px 1px 1px rgba(0, 0, 0, 0.25);
        background: $white;
        padding: 12px;
        border-radius: 7px;
      }
      .content {
        flex: 0 0 85%;
      }
    }
  }
}
.main-admin {
  position: relative;
  z-index: 1;
    .outline-primary {
      background-color: $blue;
    }
    background-color: #ccd0ff;
    padding: 10rem 2rem  ;
    width: 100%;
    .registration {
      // width: 1498px;
      height: 100%;
      background: #e3e4ff;
      border-radius: 20px;
      padding: 0 1rem 1rem;
      position: relative;
      filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.25));
  
      .profile-p {
        display: flex;
        gap: 1rem;
        margin-left: 7rem;
        .proIcn {
          width: 144px;
          height: 144px;
          padding: 1rem;
          z-index: 1;
          background: rgba(255, 255, 255, 0.75);
          box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
        }
  
        .pro-flex {
          margin-top: 1rem;
  
          .profile-head {
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 39px;
            color: #0e1133;
          }
  
          .profile-desc {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #0e1133;
          }
        }
      }
  
      .profile-pics {
        position: relative;
        .profile-icon {
          z-index: 9;
          position: absolute;
          top: -113px;
          box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
          margin-right: 40px;
          img {
            width: 150px;
          }
        }
        .frame {
          position: relative;
          top: -74px;
          z-index: -1;
          left: 48px;
        }
  
        .profile-photo {
          width: 498.64px;
          height: 600px;
          position: relative;
          // padding: 30px;
          left: 83px;
          background: rgba(255, 255, 255, 0.75);
          box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
  
          &::after {
            content: "";
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
            // border: 5px dashed red;
            top: -1rem;
            height: 100%;
            width: 100%;
            position: absolute;
            left: -1rem;
            border-radius: 20px;
          }
          .edit {
            background: #f8f8ff;
            box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            width: 80px;
            height: 79.17px;
            position: absolute;
            top: 32px;
            right: -33px;
            display: grid;
            place-content: center;
            z-index: 9;
          }
          .photo {
            background: url("/images/drag.png") no-repeat;
            height: 100%;
            width: 100%;
            background-size: contain;
          }
        }
      }
    }
  }
@media(max-width:$breakpoint-tablet) {
  .main-admin{
    .wrapper{
      .bg{
        padding: 2rem;
        .icons{
          width: 100px;
          height: 100px;
        }
      }
      .ms-7{
        margin-left: 3rem;
      }
    }
  }
}