//

@import "@styles/mixin.scss";

//
.affiliate-wrapper1 {
  background-color: #b1b2ff;
  text-align: center;
  .affiliate-wrapper1-inner {
    .affiliate-wrapper1-inner-hero {
      .affiliate-wrapper1-inner-hero-heading {
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 85px;
        text-align: center;

        color: #0e1133;
      }
      .affiliate-wrapper1-inner-hero-para {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
      }
    }

    .affiliate-wrapper1-inner-sub-hero {
      padding: 2rem 0;
      .sub-hero {
        .sub-hero-img {
          width: 140px;
        }
        .sub-hero-heading {
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          line-height: 43px;
          text-align: center;

          color: #0e1133;
        }
        .sub-hero-para {
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          text-align: center;
        }
      }
    }
  }
}

//
.affiliate-Component-img {
  padding: 10rem 0 2rem 0;
  position: relative;

  .affiliate-Component-img1-main {
    position: relative;
    .affiliate-Component-img-main {
      width: 100%;
      height: 100%;
    }
    &::after {
      content: "";
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 20px;
      position: absolute;
      width: 100%;
      height: 100%;
      top: -1rem;
      left: -1rem;
    }
  }

  .affiliate-Component-img-main1 {
    width: 144px;
    height: 144px;

    background: rgba(255, 255, 255, 0.75);
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 10px;

    position: absolute;
    top: 73px;
    right: -51px;
  }

  .affiliate-Component-img-main2 {
    width: 277px;
    height: 324px;

    position: absolute;
    bottom: -90px;
    left: -80px;
  }
}

.affiliate-Component {
  padding: 10rem 0 2rem 0;
  .affiliate-Component-text {
    .affiliate-Component-heading {
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 98.9%;

      color: #ffffff;
    }
    .affiliate-Component-para {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;

      color: #ccd0ff;
    }
  }

  .affiliate-Component-icn {
    .affiliate-Component-icn-img {
      //   background: rgba(255, 255, 255, 0.5);
      //   box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
      //   border: 15px solid rgba(255, 255, 255, 0.5);

      .affiliate-Component-icn-imgg {
        width: 80px;
        height: 80px;
        background-color: white;
        padding: 10px;
        border-radius: 50%;

        border: 10px solid #b1b2ff;
      }
    }

    .affiliate-Component-icn-heading {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;

      color: #ffffff;
    }
    .affiliate-Component-icn-para {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;

      color: #ffffff;
    }
  }
}

//
.frame-width{
  width: 720px;
  height: 90px;
}
.affi {
  .sign-up {
    background: none;
    padding: 0;

    .main-box {
      position: relative;
      transform: none;
      top: unset;
      left: unset;
      margin: 0 auto;

      .main-box-para {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;

        color: #0e1133;
        padding: 2rem 0 0 0;

        span {
          font-weight: 700;
        }
      }
      .top-frame{
        display: none;
      }
      .top-blue-frame{
        // display: none;
        bottom: -121px;
        left: -87px;
      }
      .ms-5{
        margin: 0;
      }
    }
    .main-box h1 {
      text-align: center;
    }
    .main-box p {
      text-align: center;
    }
  }
}

//  Media Query
// 1300px


// 1192px
@media (max-width: $breakpoint-tablet-xl) {
  .affiliate-Component
    .affiliate-Component-icn
    .affiliate-Component-icn-heading {
    padding-left: 1rem;
  }
  .affiliate-Component .affiliate-Component-icn .affiliate-Component-icn-para {
    padding-left: 1rem;
  }
}

// 991px
@media (max-width: $breakpoint-tablet-sm) {
  .affiliate-wrapper1
    .affiliate-wrapper1-inner
    .affiliate-wrapper1-inner-hero
    .affiliate-wrapper1-inner-hero-heading {
    font-size: 25px;
  }
  .affiliate-wrapper1
    .affiliate-wrapper1-inner
    .affiliate-wrapper1-inner-hero
    .affiliate-wrapper1-inner-hero-para {
    font-size: 18px;
  }

  .affiliate-wrapper1
    .affiliate-wrapper1-inner
    .affiliate-wrapper1-inner-sub-hero
    .sub-hero
    .sub-hero-heading {
    font-size: 20px;
  }

  .affiliate-wrapper1
    .affiliate-wrapper1-inner
    .affiliate-wrapper1-inner-sub-hero
    .sub-hero
    .sub-hero-para {
    font-size: 18px;
  }

  .affiliate-Component .affiliate-Component-icn .affiliate-Component-icn-img {
    text-align: center;
  }

  .affiliate-Component
    .affiliate-Component-icn
    .affiliate-Component-icn-heading {
    padding-left: unset;
    text-align: center;
  }

  .affiliate-Component .affiliate-Component-icn .affiliate-Component-icn-para {
    padding-left: unset;
    text-align: center;
  }

  .affiliate-Component .affiliate-Component-text .affiliate-Component-heading {
    font-size: 25px;
    text-align: center;
  }
  .affiliate-Component .affiliate-Component-text .affiliate-Component-para {
    font-size: 18px;
    text-align: center;
  }

  // .sign-up .main-box::after {
  //   left: 8px;
  //   width: 92%;
  //   height: 91%;

  //   z-index: unset;
  // }
}

//  768px
@media (max-width: $breakpoint-tablet) {
  .affiliate-Component-img {
    padding: 10rem 10rem 2rem 10rem;
  }

  .affiliate-Component-img .affiliate-Component-img-main1 {
    right: 115px;
    width: 100px;
    height: 100px;
  }

  .affiliate-Component-img .affiliate-Component-img-main2 {
    bottom: -76px;
    left: 25px;

    width: 200px;
    height: 280px;
  }
  .frame-width{
    width: 100%;
  }
}

@media (max-width: 576px) {
  .affiliate-wrapper1
    .affiliate-wrapper1-inner
    .affiliate-wrapper1-inner-hero
    .affiliate-wrapper1-inner-hero-heading {
    line-height: unset;
  }

  .affiliate-Component-img {
    padding: 10rem 2rem 2rem 2rem;
  }

  .affiliate-Component-img .affiliate-Component-img-main1 {
    right: -21px;
    width: 144px;
    height: 144px;
  }

  .affiliate-Component-img .affiliate-Component-img-main2 {
    width: 151px;
    height: 215px;
    bottom: -49px;
    left: -28px;
  }

  .affiliate-Component .affiliate-Component-text .affiliate-Component-heading {
    line-height: 3rem;
  }

  .sign-up .main-box::after {
    width: 89%;
  }
}

//  425px
@media (max-width: $breakpoint-phone) {
  .affiliate-Component-img .affiliate-Component-img-main1 {
    right: 1px;
    top: 113px;
    width: 80px;
    height: 80px;
  }

  .sign-up .main-box::after {
    width: 85%;
    height: 92%;
  }
}
