@import "@styles/mixin.scss";

.aboutuspera {
  text-align: center;
}

.headingAboutUs {
  h1 {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
  }
  p {
    font-size: 20px;
  }
  .Montserrat {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
.contact {
  .card {
    background: transparent;
    border: none;
    width: 400px;
    margin: 0 auto;
    img {
      width: 293px;
      height: 263px;
      margin: 0 auto;
    }
    .card-body {
      text-align: center;
      color: #fff;
      .card-title {
        font-size: 35px;
        font-weight: 700;
      }
      p {
        color: #ccd0ff;
      }
    }
  }
  .contact-box {
    position: relative;
  }
  .bg {
    background: #7171ff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    &::after {
      content: "";
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
      top: 18px;
      background-size: 100% 100%;
      position: absolute;
      left: -20px;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 20px;
    }
    .z-index{
      .icons{
        @include icons;
        @include h-center;
      }
      h2{
        font-size: $regular-font;
      }
    }
    .box {
      background: url("/images/contact/box1.png") no-repeat;
      height: 212px;
      width: 376px;
      background-size: cover;
      position: absolute;
      right: 24px;
      top: -110px;
    }
    .icon {
      background: url("/images/contact/icon.svg") no-repeat;
      height: 182px;
      position: absolute;
      top: 0;
      z-index: 99;
      width: 200px;
      right: 23px;
      top: -106px;
      background-size: 76%;
      background-position: center;
    }
    .frame {
      background: url("/images/contact/Frame.png") no-repeat;
      height: 212px;
      width: 376px;
      position: absolute;
      z-index: 99;
      left: -88px;
      bottom: -95px;
      background-size: 76%;
      background-position: center;
    }

    form {
      .input-group-text {
        background: #b1b2ff;
        border: none;
      }
      .input-group-text {
        img {
          width: 30px;
        }
      }
      .form-control {
        background: #b1b2ff;
        border: none;
      }
    }
  }
  .map {
    margin-top: 150px;
    .bg {
      .icon {
        background: url("/images/contact/icon.svg") no-repeat;
        height: 182px;
        position: absolute;
        top: 0;
        z-index: 99;
        width: 200px;
        left: 23px;
        top: -46px;
        background-size: 76%;
        background-position: center;
      }
      h1 {
        margin-top: 120px;
      }
      .frame {
        background: url("/images/contact/Frame.png") no-repeat;
        height: 212px;
        width: 376px;
        position: absolute;
        z-index: 99;
        right: 0px;
        left: auto;
        bottom: -95px;
        background-size: 76%;
        background-position: center;
      }
    }
    .map-image {
      position: relative;
      height: 500px;
      img {
        // position: absolute;
        left: 0;
        // transform: translate(-17%, 0%);
        top: 0;
        width: 100%;
      }
    }
  }
}
@media (max-width:$breakpoint-phone){
  .contact{
    .card{
      width: auto;
    }
    .bg{
      padding: 0px;
      background: none;
      box-shadow: none;
      &::after{
        display: none;
      }
    }
  }
}
