.icon {
  height: 118px;
  width: 118px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-right: 20px;
  background-size: cover;
  .digital-icon {
    background: url("/images/corporate/digital-icon.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .hr-icon {
    background: url("/images/corporate/hr-icon.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .cor-icon {
    background: url("/images/corporate/corporate-icon.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .putting-icon {
    background: url("/images/corporate/icon-putting.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .seam-icon {
    background: url("/images/corporate/icon-seamless.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .em-icon {
    background: url("/images/corporate/icon-employees.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .tem-icon {
    background: url("/images/corporate/icon-templates_database.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .ai-icon {
    background: url("/images/corporate/icon-Ai.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .tal-icon {
    background: url("/images/corporate/icon-talent.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .qui-icon {
    background: url("/images/corporate/icon-quick.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .sim-icon {
    background: url("/images/corporate/icon-simplified.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
}
