@import "@styles/mixin.scss";
@import "@styles/variable.scss";
.courses{

  .HeroSectionWrapper {
    .frame {
      background: url("/images/s-box.png") no-repeat;
      background-size: 100%;
      width: 160px;
      height: 160px;
      position: absolute;
      left: 0;
    }
    .frame1 {
      background: url("/images/frame-1.png") no-repeat;
      background-size: 100%;
      width: 200px;
      height: 225px;
      position: absolute;
      right: 0;
    }
    .frame2 {
      background: url("/images/frame2.png") no-repeat;
      background-size: 100%;
      width: 300px;
      height: 240px;
      position: absolute;
      right: 40px;
      bottom: 0;
      // transform: skewX(180deg);
    }
    .frame3 {
      background: url("/images/frame-1.png") no-repeat;
      background-size: 100% 100%;
      width: 220px;
      height: 200px;
      position: absolute;
      left: 0px;
      bottom: 0;
      transform: scaleY(-1);
    }
    P {
      color: #0e1133;
    }
    .list1 {
      list-style: none;
      padding: 0;
      column-count: 2;
    }

    .card {
      background: none;
      border: none;
      text-align: center;
      .card-body {
        .card-title {
          color: #0e1133;
        }

        p {
          color: #0e1133;
        }
      }
    }
  }
 
  .wrapper {
  
    padding: 100px;
  
    .img-mask {
      position: relative;
      left: -89px;
  
      .img-Study1 {
        position: absolute;
        top: 30px;
        right: -79px;
        padding: 1rem;
        width: 178px;
        height: 178px;
        background: rgba(255, 255, 255, 0.75);
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        z-index: 10;
      }
  
  
  
      &:before {
        content: "";
        top: 26px;
        position: absolute;
        left: 25px;
        width: 89%;
        height: 100%;
        background-repeat: no-repeat;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        border-radius: 20px;
        z-index: 9;
      }
    }
  
    .interest-icon {
      width: 130px;
      height: 130px;
      background-color: #dbdbff;
      border-radius: 15px;
      padding: 11px;
    }
  
    .icon {
      width: 55px;
      height: 55px;
      border: 5px solid #afaffe;
      border-radius: 50%;
      background: #fff;
      text-align: center;
      padding-top: 3px;
    }
  
    .frame-4 {
      background: url("/images/courses/frame-4.svg") no-repeat;
      // width: 422px;
      // height: 500px;
      background-size: 100%;
      position: relative;
      left: -34px;
      top: -84px;
    }
  
    .heading-first {
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      color: #0E1133;
    }
  
    .custom-heading {
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      color: #ffffff;
    }
  
    .heading-second {
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      color: #ffffff;
    }
  
    .para {
      color: #CCD0FF;
  
    }
  
    .text-underline {
      text-decoration: underline;
    }
  
    .sub-para {
      margin-bottom: 50px;
    }
  
    .center-img {
      text-align: center;
  
      .img1-Study {
        width: 100px;
        height: 100px;
        padding: 10px;
        background-color: $white;
        border-radius: 50%;
        border: 10px solid $light-blue;
      }
    }
  
    .sub-head {
      @include list-heading;
    }
  
  }
  
  .second-wrapper {
    margin:2rem 1rem 5rem 1rem;
    
    .bg {
      position: relative;
      &::before {
        content: "";
        background: #7171ff;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -9;
        left: 0;
      }
      &::after {
        content: "";
        background-image: url("data:image/svg+xml,%3csvg width='100%45' height='100%45' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        width: 100%;
        height: 100%;
        position: absolute;
        top: 20px;
        left: -16px;
        z-index: -9;
      }
      .box {
        display: flex;
        margin-bottom: 35px;
        .icon {
          @include check-icon;
          flex: 0 0 auto;
        }
        .content {
          h6 {
            color: $white;
            font-weight: 700;
            font-size: 20px;
          }
        }
        .more {
          @include bullet-center;
          .circle {
            @include circle;
          }
          .arrow {
            @include arrow;
          }
        }
      }
    }
    .position {
      top: -204px;
      position: relative;
      .position-relative {
        .second-wrapper-child-img {
          img {
            box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
          }
          &::before {
            content: "";
            background-image: url("data:image/svg+xml,%3csvg width='100%45' height='100%45' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
            width: 100%;
            height: 100%;
            position: absolute;
            top: 20px;
            left: -20px;
          }
        }
        .icons {
          position: absolute;
          top: 55px;
          right: -55px;
          box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
          width: 130px;
          height: 130px;
          background: $paragraph;
          position: absolute;
          display: grid;
          place-content: center;
          img {
            width: 100px;
          }
        }
        .photo-frame {
          background: url("/images/StudyAborad/photo-frame.png") no-repeat;
          width: 300px;
          height: 300px;
          background-size: 100%;
          position: absolute;
          bottom: -75px;
          right: -86px;
        }
      }
    }
    .pl {
      padding-left: 8rem;
    }
    .input_img{
      height: 50px;
      width: 50px;
      background: #fff;
      display: flex;
      border-radius: 25px;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  }
  .third-wrapper {
    padding: 65px;
  
    .img-mask {
      .study-icon {
        width: 130px;
        height: 130px;
        background-color: #dbdbff;
        border-radius: 15px;
        padding: 11px;
        position: relative;
        top: 69px;
        z-index: 100;
        left: -63px;
        
      }
      .img-Study {
        width: 100%;
        // height: 100%;
         position: relative;
        // left: 100px;
        &:after {
          content: "";
          top: -21px;
          position: absolute;
          left: -63px;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
          border-radius: 20px;
          z-index: 9;
        }
      }
     
    }
  
    .icon {
      width: 60px;
      height: 60px;
      border: 5px solid #afaffe;
      border-radius: 50%;
      background: #fff;
      text-align: center;
      padding-top: 10px;
    }
  
    .paragraph {
      color: $white;
      font-weight: bold;
    }
  
    .icon-para {
      color: #CCD0FF;
      margin-left: -24px;
      margin-top: 9px;
    }
  
    .para {
      color: #CCD0FF;
      width: 85%;
    }
  
    .heading-first {
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      color: #0E1133;
    }
  
    .custom-heading {
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      color: #ffffff;
    }
  
    .heading-second {
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      color: #ffffff;
    }
  
    .frame-4 {
      background: url("/images/courses/frame-4.svg") no-repeat;
      // width: 422px;
      // height: 500px;
      background-size: 100%;
      // position: relative;
      left: 256px;
      top: -103px;
    }
  
  }
}

@media (max-width: $breakpoint-phone) {
  .courses{
    .wrapper {
      .img-mask {
        width: 200px;
        &::before {
          display: none;
        }
      }
    }
  }
}

@media(max-width:991px) {
 
}