@import "@styles/mixin.scss";
.css-yw020d-MuiAccordionSummary-expandIconWrapper.Mui-expanded {
  color: $white;
  transform: rotate(0deg) !important;
}
.css-yw020d-MuiAccordionSummary-expandIconWrapper {
  color: $white;
}
.css-ahj2mt-MuiTypography-root {
  font-family: "Montserrat" !important;
  color: $white;
}

.CoursesDetails {
  background-color: #b1b2ff;

  .HeroSection {
    padding: 2rem 0 0 0;
    .HeroSection-Heading {
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 85px;
      text-align: center;

      color: #0e1133;
    }
    .HeroSection-Para {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 29px;
      text-align: center;
    }
    .Sub-HeroSection {
      padding: 2rem 0;
      .Sub-HeroSection-Img {
        // width: 40px;
        // height: 40px;
        .Sub-HeroSection-Img-Icn {
          width: 40px;
          height: 40px;

          // background-color: white;
          // box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
          // padding: 5px;
          // border-radius: 50%;
          // border: 5px solid rgba(255, 255, 255, 0.5);
        }
      }
      .Sub-HeroSection-Text {
        .Sub-HeroSection-Text-Para {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 200%;
          /* identical to box height, or 48px */

          text-decoration-line: underline;

          color: #000000;
        }
      }
    }
  }
}

.DiplomaCourses {
  .DiplomaCourses-inner-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 200%;
    text-align: center;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
  }
  .DiplomaCourses-inner {
    padding: 2rem 0;
    .DiplomaCourses-branch {
      display: flex;
      justify-content: flex-start;

      align-items: center;
      flex-wrap: wrap;

      row-gap: 1rem;
      column-gap: 1rem;

      .DiplomaCourses-branch-width {
        width: 30%;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 216.5%;
        color: #ffffff;
      }
    }
  }
}

.i-frame {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  .i-frame-img {
    height: 100%;
    width: 100%;
  }
}

.MidSection {
  margin-top: 2rem;
  .MidSection-component {
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 20px;
    position: relative;
    margin-bottom: 5rem;

    &::after {
      content: "";
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 20px;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 1rem;
      left: -1rem;
      z-index: -1;
    }
    .MidSection-component-inner {
      position: absolute;
      top: -58px;
      .MidSection-component-img {
        @include icons;
        padding: 15px;
        position: sticky;
      }

      .MidSection-Conponent-heading {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 105.4%;

        color: #ffffff;
      }
    }

    .MidSection-Conponent-para {
      padding-top: 3rem;
      .MidSection-Conponent-para-inner {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        /* or 30px */

        color: #ccd0ff;
      }
    }

    .MidSection-Accordian {
      .accor-heading {
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 43px;

        color: #ffffff;
      }
      .accor1 {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 43px;

        color: #ffffff;
      }
      .accor1-branch {
        display: flex;
        justify-content: flex-start;

        align-items: center;
        flex-wrap: wrap;

        row-gap: 1rem;
        column-gap: 1rem;

        .accor1-branch-width {
          width: 45%;

          font-style: normal;
          font-weight: 400;
          font-size: px;
          line-height: 30px;

          color: #ffffff;
        }
      }
    }
  }

  .MidSection-secondComponent {
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 20px;
    position: relative;
    margin: 5rem 0;
    .MidSection-secondConmponent-img {
      @include icons;
      padding: 15px;
      position: absolute;
      top: -77px;
      right: 60px;
    }

    .MidSection-secondConmponent-imgg {
      @include icons;
      padding: 15px;
      position: absolute;
      top: -77px;
      left: 60px;
    }

    .MidSection-secondConmponent-hero {
      position: relative;
      .MidSection-secondConmponent-hero-heading {
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        padding-top: 32px;
        color: #ffffff;
      }
      .MidSection-secondConmponent-hero-para {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;

        color: #ccd0ff;
      }

      &::after {
        content: "";
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 20px;
        position: absolute;
        z-index: -1;

        width: 106%;
        height: 114%;
        top: -16px;
        left: -47px;
      }
    }

    .MidSection-secondConmponent-hero-courses {
      display: flex;
      justify-content: flex-start;
      gap: 1rem;
      flex-wrap: wrap;
      padding: 1rem 0;
      .MidSection-secondConmponent-hero-courses-inner {
        display: flex;
        gap: 1rem;
        width: 48%;
        .MidSection-secondConmponent-hero-courses-inner-img {
          width: 40px;
          height: 40px;
          .Sub-HeroSection-Img-Icn {
            width: 100%;
          }
        }

        .MidSection-secondConmponent-hero-courses-inner-text {
          .MidSection-secondConmponent-hero-courses-inner-text-head {
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;

            color: #ffffff;
          }
          .MidSection-secondConmponent-hero-courses-inner-text-para {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;

            color: #ccd0ff;
          }
        }
      }
    }

    .more {
      @include bullet-center;
      .circle {
        @include circle;
      }
      .arrow {
        @include arrow;
      }
    }
  }
  .box {
    background: #7171ff;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 2rem;
    position: relative;
    margin-bottom: 5rem;

    &::after {
      content: "";
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 20px;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 1rem;
      left: -1rem;
      z-index: -1;
    }

    .box-upper {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      .img {
        @include icons;
        padding: 1rem;
        width: 130px;
        height: 130px;
      }
      .text {
        width: 88%;
        .head {
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          color: #ffffff;
        }
        .para {
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          color: #ccd0ff;
        }
      }
    }

    .box-lower {
      .head {
        font-style: normal;
        font-weight: 700;
        font-size: 25px;

        color: #ffffff;
      }
      .para {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;

        color: #ffffff;
      }
      .head1 {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;

        color: #ffffff;
      }

      .list1 {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;

        color: #ffffff;
      }
      .list-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;

        .list {
          width: 48%;
          font-weight: 400;
          font-size: 18px;

          color: #ffffff;
        }
      }
    }
  }
}

//  Media Query
// 1300px
@media (max-width: $breakpoint-tablet-xxll) {
}

// 1192px
@media (max-width: $breakpoint-tablet-xl) {
  .MidSection
    .MidSection-component
    .MidSection-component-inner
    .MidSection-Conponent-heading {
    font-size: 25px;
  }

  .MidSection
    .MidSection-component
    .MidSection-Conponent-para
    .MidSection-Conponent-para-inner {
    font-size: 18px;
  }

  .MidSection .MidSection-component .MidSection-Accordian .accor-heading {
    font-size: 25px;
  }

  .MidSection
    .MidSection-secondComponent
    .MidSection-secondConmponent-hero
    .MidSection-secondConmponent-hero-heading {
    font-size: 25px;
  }

  .MidSection
    .MidSection-secondComponent
    .MidSection-secondConmponent-hero
    .MidSection-secondConmponent-hero-para {
    font-size: 18px;
  }

  .MidSection .box .box-upper .text .head {
    font-size: 25px;
  }
  .MidSection .box .box-upper .text .para {
    font-size: 18px;
  }
  .MidSection .MidSection-secondComponent .MidSection-secondConmponent-hero::after{
    display: none;
  }

  .MidSection .box .box-lower .head {
    font-size: 23px;
  }

  .MidSection .box .box-lower .para {
    font-size: 18px;
  }

  .MidSection .box .box-lower .list-flex .list {
    font-size: 18px;
  }

  .MidSection .box .box-upper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .MidSection .box .box-upper .text {
    width: unset;
    text-align: center;
  }
}

// 991px
@media (max-width: $breakpoint-tablet-sm) {
  .CoursesDetails .HeroSection .HeroSection-Heading {
    font-size: 26px;
  }

  .CoursesDetails .HeroSection .Sub-HeroSection .Sub-HeroSection-Img {
    text-align: center;
  }

  .CoursesDetails
    .HeroSection
    .Sub-HeroSection
    .Sub-HeroSection-Text
    .Sub-HeroSection-Text-Para {
    text-align: center;
  }
}

//  768px
@media (max-width: $breakpoint-tablet) {
  .DiplomaCourses .DiplomaCourses-inner .DiplomaCourses-branch {
    flex-direction: column;
  }

  .MidSection
    .MidSection-secondComponent
    .MidSection-secondConmponent-hero::after {
    width: 115%;
    height: 108%;
  }

  .MidSection
    .MidSection-secondComponent
    .MidSection-secondConmponent-hero-courses {
    flex-direction: column;
  }

  .MidSection
    .MidSection-secondComponent
    .MidSection-secondConmponent-hero-courses
    .MidSection-secondConmponent-hero-courses-inner {
    width: unset;
  }

  .DiplomaCourses
    .DiplomaCourses-inner
    .DiplomaCourses-branch
    .DiplomaCourses-branch-width {
    width: unset;
  }

  .MidSection .box .box-lower .list-flex {
    flex-direction: column;
  }

  .MidSection .box .box-lower .list-flex .list {
    width: unset;
  }
}

@media (max-width: 576px) {
  .CoursesDetails .HeroSection .HeroSection-Heading {
    line-height: unset;
  }

  .MidSection .MidSection-component .MidSection-component-inner {
    position: unset;
  }

  .align-items-end {
    justify-content: center;
  }

  .MidSection
    .MidSection-component
    .MidSection-component-inner
    .MidSection-Conponent-heading {
    margin-top: 1rem;
    font-size: 21px;
  }

  .MidSection .MidSection-secondComponent .show-more .show-more-btn {
    width: 187px;
  }

  .MidSection
    .MidSection-secondComponent
    .MidSection-secondConmponent-hero-courses
    .MidSection-secondConmponent-hero-courses-inner
    .MidSection-secondConmponent-hero-courses-inner-text
    .MidSection-secondConmponent-hero-courses-inner-text-head {
    font-size: 18px;
  }

  .MidSection
    .MidSection-secondComponent
    .MidSection-secondConmponent-hero-courses
    .MidSection-secondConmponent-hero-courses-inner
    .MidSection-secondConmponent-hero-courses-inner-text
    .MidSection-secondConmponent-hero-courses-inner-text-para {
    font-size: 18px;
  }
}

//  425px
@media (max-width: $breakpoint-phone) {
}
