@import "@styles/mixin.scss";
@import "@styles/variable.scss";
.CardSol {
    background: none;
    border: none;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 312px;

    .card-img {
      width: 125px;
    }
    .CardBody {
      .CardTitle {
        font-weight: 600;
        margin-top: 5px;
      }
    }
  }