@import "@styles/mixin.scss";
@import "@styles/variable.scss";
.HeroSectionWrapper {
  .headingWhileLabel {
    
    p {
      font-size: 18px;
      text-align: center;
    }
  }
  .cardanchor {
    text-decoration: none;
    color: #000;
    .CardSol {
      background: none;
      border: none;
      text-align: center;
      display: block;
      margin: 0 auto;
      width: 312px;

      .card-img {
        width: 125px;
      }
      .CardBody {
        .CardTitle {
          font-weight: 600;
          margin-top: 5px;
        }
      }
    }
  }
}
.sectionRelative {
  h1 {
    color: #fff;
    font-weight: bold;
  }
  p {
    color: $paragraph;
    font-size: 18px;
  }
}

.solution {
  position: relative;
  margin-top: 200px;
  .bg {
    width: 100%;
    // background: url('/images/OurSolution/bg.png') no-repeat;
    background: #7171ff;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
    z-index: -1;
    border-radius: 20px;
    position: relative;
    &::after {
      content: "";
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
      top: 18px;
      background-size: 100% 100%;
      position: absolute;
      left: -20px;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 20px;
    }
    &::before {
      content: "";
      background: url("/images/OurSolution/box.svg") no-repeat;
      height: 300px;
      width: 300px;
      background-size: 100% 100%;
      top: -231px;
      right: 60px;
      position: absolute;
    }

    .img {
      position: absolute;
      top: -136px !important;
      z-index: 9;
      .box {
        background: url("/images/OurSolution/boxes.png") no-repeat;
        background-size: contain;
        top: -45px;
        left: -36px;
        position: absolute;
        width: 471px;
        height: 213px;
      }
    }
    .pt-3 {
      position: relative;
    }
    .position {
      position: relative;
      top: -30px;
      z-index: 9;
    }
    .solutioseciconTop {
      display: flex;
      align-items: flex-end;
      flex: 0 0 78%;
      h1 {
        color: #fff;
        font-weight: 700;
        font-size: 30px;
        margin: 0;
      }
      p {
        color: #fff;
      }
    }
    .key {
      background: url("/images/OurSolution/key.svg") no-repeat;
      width: 118px;
      height: 118px;
      background-size: contain !important;
      margin-right: 26px;
      box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      background-position: center !important;
    }
    .lap-icon {
      background: url("/images/OurSolution/lap-icon.svg") no-repeat;
    }
    .ad-icon {
      background: url("/images/OurSolution/administrativ-icon.svg") no-repeat;
    }
    .make-icon {
      background: url("/images/OurSolution/make-icon.svg") no-repeat;
    }
    .op-icon {
      background: url("/images/OurSolution/option-icon.svg") no-repeat;
    }

    .solutionSeciconText {
      p {
        color: $paragraph;
      }
      .space {
        height: 100px;
        width: 100px;
      }
    }
  }

  .brand {
    .bg {
      &::before {
        content: "";
        background: url("/images/OurSolution/blank.png") no-repeat;
        height: 292px;
        width: 305px;
        background-size: cover;
        top: -146px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
      }
    }
    .icon {
      background: url("/images/OurSolution/icon.svg") no-repeat;
      width: 118px;
      height: 118px;
      background-size: cover !important;
      margin-right: 26px;
      box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
    }
    .acess-icon {
      background: url("/images/OurSolution/acess-icon.svg") no-repeat;
    }
    .depth-icon {
      background: url("/images/OurSolution/depth-icon.svg") no-repeat;
    }
    .eas-icon {
      background: url("/images/OurSolution/easy-icon.svg") no-repeat;
    }
    .dat-icon {
      background: url("/images/OurSolution/database-icon.svg") no-repeat;
    }
    .h-20 {
      height: 110px;
    }
  }
}
@media (max-width: 1400px) {
  .HeroSectionWrapper {
    .CardSol {
      width: 100%;
    }
  }
  .solution {
    .bg {
      .img {
        .w-80 {
          width: 317px;
        }
      }
      .solutioseciconTop {
        flex: 0 0 72%;
      }
    }
  }
}
@media (max-width: 1200px) {
  .solution {
    .brand {
      .bg {
        &::before {
          display: none;
        }
      }
    }
    .bg {
      width: auto;
      &::after {
        // display: none;
        top: 0;
        left: 0;
      }
      .img {
        position: unset;
        display: flex;
        justify-content: center;
        .w-80 {
          width: auto;
        }
        .box {
          display: none;
        }
      }
    }
    .space {
      display: none;
    }
    .laptop {
      margin: 0 auto;
    }
  }
}
@media (max-width: $breakpoint-tablet) {
  .solution {
    .bg {
      .solutioseciconTop {
        h1 {
          font-size: 20px;
          line-height: 26px;
        }
      }
      .key {
        width: 135px;
        height: 104px;
        background-position: center;
        background-size: 100%;
      }
      .img {
        img {
          width: 68%;
        }
        .w-80 {
          width: 65%;
        }
      }
      .d-flex {
        flex-wrap: wrap;
        gap: 30px;
      }
    }
    .brand {
      .icon {
        width: 135px;
        height: 104px;
        background-position: center;
        background-size: 100%;
      }
    }
  }
}
