.icon {
  .event1-icon {
    background: url("/images/event/icon-event1.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .event2-icon {
    background: url("/images/event/icon-event2.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .event3-icon {
    background: url("/images/event/icon-enent3.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .event4-icon {
    background: url("/images/event/icon-enent4.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .event5-icon {
    background: url("/images/event/icon-event5.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .event6-icon {
    background: url("/images/event/icon-enevt6.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  //academic
  .badge-icon {
    background: url("/images/academy/badges-icon.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .unified-icon {
    background: url("/images/academy/unified-icon.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .option-icon {
    background: url("/images/academy/option-icon.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .skill-icon {
    background: url("/images/academy/skill-icon.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .wide-icon {
    background: url("/images/academy/wide-icon.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .ambas-icon {
    background: url("/images/academy/ambasdor-icon.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .tem-icon {
    background: url("/images/academy/template-icon.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  //academic

  //student
  .degree-icon {
    background: url("/images/student/icon-degree.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .ar-icon {
    background: url("/images/student/icon-ar.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .as-icon {
    background: url("/images/student/icon-as.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .sa-icon {
    background: url("/images/student/icon-sa.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .rt-icon {
    background: url("/images/student/icon-rt.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .sf-icon {
    background: url("/images/student/icon-sf.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .mr-icon {
    background: url("/images/student/icon-mr.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .am-icon {
    background: url("/images/student/icon-am.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .makes-icon {
    background: url("/images/student/icon-makes.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .da-icon {
    background: url("/images/student/icon-database.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .job-icon {
    background: url("/images/student/icon-job.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .veri-icon {
    background: url("/images/student/icon-verify.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }

  //student

  //employee
  .dw-icon {
    background: url("/images/employee/icon-dw.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .arb-icon {
    background: url("/images/employee/icon-arb.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .apsp-icon {
    background: url("/images/employee/icon-apsp.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .rtjt-icon {
    background: url("/images/employee/icon-rtjt.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .sfas-icon {
    background: url("/images/employee/icon-sfas.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .mrt-icon {
    background: url("/images/employee/icon-mrt.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .vdti-icon {
    background: url("/images/employee/icon-vdti.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .enic-icon {
    background: url("/images/employee/icon-enic.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .jobm-icon {
    background: url("/images/employee/icon-jobm.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .vsr-icon {
    background: url("/images/employee/icon-vsr.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .acjo-icon {
    background: url("/images/employee/icon-acjo.svg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
  }

  //employee
}
