//
@import "@styles/mixin.scss";
.explore-school {
  .MidSection {
    .main-frame {
      position: relative;
      left: -60px;
      top: -57px;
      .frame {
        width: 300px;
        height: 400px;
        background: $bg;
        border-radius: 20px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        position: relative;
        .icons {
          @include icons;
          @include h-center;
          padding: 20px;
          position: absolute;
          right: -50px;
          top: 50px;
        }
        .img {
          width: 100%;

          > div {
            position: unset !important;
          }

          img {
            // object-fit: contain;
            // width: 100% !important;
            // position: relative !important;
            // height: unset !important;
            border-radius: 20px;
          }
        }

        &::before {
          content: "";
          background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
          border-radius: 20px;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 20px;
          top: -12px;
          z-index: 9;
        }
      }
      .frame-2 {
        position: relative;
        top: -60px;
      }
    }
    .MidSection-secondComponent {
      margin-bottom: 7rem;
      .first {
        &::after {
          display: none;
        }
      }
      .MidSection-secondConmponent-imgg {
        right: 60px;
        left: auto;
      }
    }
  }
}
.wrapper-wrapper {
  .wrapper {
    padding: unset;
    .head {
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 85px;
      text-align: center;

      color: #0e1133;
    }
    .para {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      text-align: center;

      color: #0e1133;
    }
    .bttn {
      display: flex;
      gap: 1rem;
      justify-content: center;
      text-align: center;
      align-items: center;
      flex-wrap: wrap;
      .btn-inner {
        display: flex;
        justify-content: space-between;
        gap: 0.4rem;

        background: #ccd0ff;
        box-shadow: inset -1px -1px 2px #ffffff,
          inset 1px 1px 1px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        padding: 0.5rem 1rem;
        .img {
          width: 23px;
        }
        .text {
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;

          color: #000000;
        }
      }
    }
    .box {
      background: #313191;
      box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      padding: 1.5rem 3rem;
      margin: 2rem 0 0 0;
      .list-box {
        display: flex;
        justify-content: space-between;
        .list {
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 27px;

          color: #ffffff;

          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }

      .search {
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;

        .select {
          width: 25%;
          border: none;
          outline: none;

          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          padding: 0.5rem;
          color: rgba(14, 17, 51, 0.5);

          background: #f0f0ff;
          margin-right: 1px;

          box-shadow: inset -1px -1px 2px #ffffff,
            inset 1px 1px 1px rgba(0, 0, 0, 0.25);
          border-radius: 10px 0px 0px 10px;
          .option {
          }
        }
        .input {
          width: 100%;
          border: none;
          outline: none;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          padding: 0.5rem;
          color: rgba(14, 17, 51, 0.5);

          background: #f0f0ff;
          margin-right: 1px;

          box-shadow: inset -1px -1px 2px #ffffff,
            inset 1px 1px 1px rgba(0, 0, 0, 0.25);
        }

        .bttn {
          //   width: 100%;

          .btn-ser {
            color: #ffffff;

            background: #4bae4f;
            border: 0.5px solid rgba(0, 0, 0, 0.25);
            box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.25);
            border-radius: 0px 10px 10px 0px;

            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            padding: 0.5rem;
            text-transform: capitalize;
          }
        }
      }

      .map {
        // float: right;
        display: flex;
        justify-content: flex-end;

        .btn-map {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;

          color: #b1b2ff;
        }
      }
    }

    .cen-text {
      text-align: center;
      padding: 2rem 0;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      padding-top: 28px;
      color: rgba(14, 17, 51, 0.5);
    }
  }
}

//  Media Query
// 1300px
@media (max-width: $breakpoint-tablet-xxll) {
}

// 1192px
@media (max-width: $breakpoint-tablet-xl) {
  .explore-school{
    .MidSection{
      .main-frame{
        position: unset;
        .frame{
          margin: 18px auto;
          .icons{
            width: 80px;
            height: 90px;
            padding: 10px;
          }
        }
      }
    }
  }
  .wrapper-wrapper {
    .wrapper {
      .head {
        font-size: 25px;
      }
      .para {
        font-size: 18px;
      }
      .bttn {
        .btn-inner {
          .text {
            font-size: 16px;
          }
        }
      }

      .box {
        .map {
          .btn-map {
            font-size: 16px;
          }
        }
        .list-box {
          flex-wrap: wrap;
          gap: 1rem;
        }
      }

      .cen-text {
        font-size: 16px;
      }
    }
  }
  .MidSection {
    .MidSection-secondComponent{

      .MidSection-secondConmponent-imgg{
        position: unset;
        margin-bottom: 20px;
      }
    }
  } 
}

// 991px
@media (max-width: $breakpoint-tablet-sm) {
  .wrapper-wrapper {
    .wrapper {
      .box {
        .search {
          flex-wrap: wrap;
          flex-direction: column;
          gap: 1rem;

          .select {
            border-radius: 10px;
            width: 100%;
          }
          .input {
            border-radius: 10px;
            width: 100%;
          }

          .bttn {
            .btn-ser {
              width: 100%;
              border-radius: 10px;
            }
          }
        }
        .map {
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  .wrapper-wrapper .wrapper .box .list-box {
    justify-content: center;
  }
}


//  425px
@media (max-width: $breakpoint-phone) {
  .explore-school{
    .MidSection{
      .main-frame{
        .frame{
         width: 200px;
         height: 250px;
          .icons{
          }
        }
      }
    }
  }
}
