.logo_White {
  width: 120px;
}
.MenuItems .dropdown-item a {
  color: #000 !important;
}
.MenuItems-inner .dropdown-item a {
  color: #000 !important;
  font-size: 14px;
}
.MenuItems-inner.MenuItems-black {
  color: #000 !important;
  position: relative;
  top: -8px;
}
.MenuItems-inner.MenuItems-black a {
  color: #000 !important;
  position: relative;
}

a {
  color: #ccd0ff;
  text-decoration: none;
}
a:hover {
  color: #ccd0ff;
  text-decoration: underline;
}

.logo_White-m {
  margin: 25px 10px 10px 10px;
}
.f-24 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-top: 10rem !important;
}
.MenuItems-inner {
  padding: 0px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}
.MenuItems-inner .dropdown-toggle {
  color: #000 !important;
  text-decoration: none;
}
.MenuItems {
  padding: 0px 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}
.navbar-nav a {
  color: #fff !important;
  text-decoration: none;
}
.navbar-nav .dropdown-item {
  color: #000 !important;
  text-decoration: none;
  padding: 3px;
}
.MenuItems .dropdown-toggle {
  color: #fff !important;
  text-decoration: none;
}
.dropdown-menu {
  z-index: 1;
}
.MenuItems .nav-link {
  padding: 0px !important;
}

.navBarRight {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* Header Two Css */
.HeaderOptiontwo {
  background-color: #dcddff;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  padding: 0px;
  position: absolute;
  left: 0px;
  top: 45px;
  z-index: 5;
}

.active {
  font-weight: 400;
  text-decoration: none !important;
}
.blink_me {
  animation: blinker 1s linear infinite;
  color: red;
  border: 1px solid red;
  padding: 2px;
  text-align: center;
  font-size: 8px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.MenuItems.login {
  content: "";
  position: relative;
  background-color: #fff;
  top: 10px;
  z-index: -1;
  border: 4px solid #ccd0ff;
  border-radius: 50%;
  padding: 0px;
  width: 40px;
  height: 40px;
}
.MenuItems-inner.login {
  content: "";
  position: relative;
  background-color: #fff;
  top: 0px;
  z-index: -1;
  border: 5px solid #ccd0ff;
  border-radius: 50%;
  padding: 0px;
  height: 40px;
  width: 40px;
}

.container-fluid {
  padding-right: 50px !important;
  padding-left: 50px !important;
  max-width: 1600px;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1620px) {
 
  .logo_White {
    width: 100px !important;
  }
  .MenuItems {
    font-size: 18px;
  }
  .navbar-nav .dropdown-item {
    padding: 10px;
  }
}

@media screen and (max-width: 920px) {
 
  .logo_White {
    width: 100px !important;
  }
  .MenuItems {
    font-size: 18px;
  }
}

@media screen and (max-width: 420px) {
  .navbar-nav .dropdown-menu {
    position: absolute;
    left: -120px;
    font-size: 14px;
    line-height: 8px;
  }
  .navbar-collapse {
    margin-top: 0px;
  }

  .MenuItems {
    font-size: 18px;
    line-height: 30px;
  }

  .f-24 {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-top: 4rem !important;
  }

  .MenuItems-inner {
    font-size: 20px;
    line-height: 30px;
  }
  .navbar-nav .dropdown-item {
    padding: 10px;
  }
}
