@import "@styles/mixin.scss";
@import "@styles/variable.scss";

.home {
  .banner {
    // height: 1071px;
    max-width: 1940px;
    margin: 0 auto;
    position: relative;
    .padding {
      padding-top: 5%;
    }
    .bg {
      display: flex;
      justify-content: right;
      &::after {
        content: "";
        background: url("/images/banner.svg") no-repeat top right;
        height: 1676px;
        position: absolute;
        width: 100%;
        top: -234px;
        left: 0;
        z-index: -9;
      }
    }
    .list-box {
      position: relative;
      width: 868px;
      .box {
        color: #0e1133;
        text-transform: uppercase;
        font-size: 24px;
        background: rgba(255, 255, 255, 0.45);
        border-radius: 20px;
        padding: 10px 20px;
        width: fit-content;
        margin-bottom: 66px;
        font-weight: 700;
        &:nth-child(1) {
          position: absolute;
          right: 80px;
          top: 0px;
        }
        &:nth-child(2) {
          position: absolute;
          top: 90px;
        }
        &:nth-child(3) {
          position: absolute;
          right: 60px;
          top: 15em;
        }
        &:nth-child(4) {
          position: absolute;
          left: 0;
          top: 20em;
        }
        &:nth-child(5) {
          position: absolute;
          right: 4em;
          top: 28em;
        }
      }
    }
    h1 {
      font-size: 25px;
      color: #0e1133;
    }
    h2 {
      font-size: 55px;
      color: #fff;
      font-weight: bold;
      span {
        font-size: 64px;
        color: $text-blue;
        font-weight: 400;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      column-count: 2;
      margin-top: 50px;
      li {
        font-size: $regular-font;
        color: #fff;
        display: flex;
        align-items: center;
        line-height: 60px;
        font-weight: 500;
        &::before {
          content: "";
          background: url("/images/checkIcon.svg") no-repeat center;
          width: 44px;
          height: 44px;
          display: block;
        }
      }
    }
  }
  .ins {
    margin-top: 593px;
    h2 {
      @include blue-title;

      span {
        color: #fff;
        font-style: normal;
        font-weight: 600;
        font-size: 55px;
        margin-bottom: 0px;
      }
    }
    p {
      @include para;
    }
    .space {
      position: relative;
      left: 196px;
    }
    .relative {
      position: relative;
      .bg-ins {
        background: url("/images/institutions.svg") no-repeat;
        height: 887px;
        width: 651px;
        // position: relative;
        // left: -231px;
        position: absolute;
        left: -50%;
        top: 0;
        background-size: cover;
        background-position: top left;
      }
    }
    .mainBoxWrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      margin-top: 25px;
      grid-column-gap: 8px;
      .wrapperBox1 {
        display: grid;
        grid-template-columns: auto 1fr;
        width: 100%;
        grid-column-gap: 18px;
        margin: 0px 0px 30px 0px;
        .InstitutionoptionIcon {
          position: relative;
          background: rgba(255, 255, 255, 0.5);
          width: 80px;
          height: 80px;
          border-radius: 50%;
          display: grid;
          place-content: center;
          &::after {
            content: "";
            background-color: #fff;
            height: 70px;
            width: 70px;
            position: absolute;
            top: 7%;
            left: 50%;
            z-index: 1;
            transform: translate(-50%, 0%);
            border-radius: 50%;
          }
          img {
            width: 77%;
            position: relative;
            top: 7%;
            left: 47%;
            z-index: 9;
          }
        }
      }
    }
    .contentBox {
      h2 {
        @include list-heading;
      }
      p {
        @include para;
      }
    }
  }
  .complete {
    top: 50px;
    position: relative;
    overflow-x: hidden;
    .bg-image {
      position: relative;
      .girl {
        background: url(/images/complete.svg) no-repeat right;
        background-size: 100%;
        background-position: top;
        height: 1234px;
        width: 901px;
        position: relative;
        right: -5%;
        top: 0;
      }
    }
    .headingSolutionWhite {
      color: #fff;
      font-style: normal;
      font-weight: 600;
      font-size: 50px;
      margin-bottom: 0px;
    }
    .headingSolutionblack {
      @include blue-title;
    }
    .subpera {
      @include para;
      width: 90%;
    }
    .solutionOptionOnebox {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: 10px;
      align-items: start;
      margin-top: 30px;
      h1 {
        @include list-heading;
      }
      p {
        @include para;
      }
      .optionSolitionIconone {
        width: 80px;
        position: relative;
        height: 80px;
        padding: 10px;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          border: 10px solid #ccd0ff;
          background-color: #ffffff;
          left: 0px;
          top: 0px;
          border-radius: 50%;
          box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        }
        img {
          z-index: 9;
          left: 5px !important;
        }
        .imageBorder {
          position: relative;
          z-index: 9;
        }
      }
    }
    .readMoreBtn {
      background-color: transparent;
      border: none;
      font-size: 16px;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 700;
      display: flex;
      align-items: center;
      grid-column-gap: 3px;
      margin: 50px auto 0px 90px;
      .CircleOne {
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: rgba(0, 0, 0, 0.3);
      }
      .Circletwo {
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: rgba(0, 0, 0, 0.5);
      }
      .Circlethree {
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: #000000;
      }
      .Circlearrow {
        border: 2px solid #000;
        border-radius: 50%;
        width: 15px;
        height: 15px;
      }
      .arrow {
        width: 18px;
      }
    }
  }
  .under {
    // background: url(../../assets/img/under.svg) no-repeat left;
    padding-bottom: 10%;
    padding-top: 10%;
    h1 {
      @include blue-title;
    }
    h2 {
      @include title;
    }
    p {
      @include para;
    }
    .col {
      position: relative;
      .product {
        background: url("/images/under.svg") no-repeat;
        height: 1104px;
        width: 784px;
        background-size: 100%;
        position: absolute;
        left: -168px;
      }
      .BenifitsWrapper {
        width: 100%;
        position: relative;
        top: 10%;
        right: 65px;
        &::after {
          content: "";
          width: 163%;
          height: 105%;
          position: absolute;
          left: -44%;
          top: -5%;
          background: #7171ff;
          box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
          z-index: -1;
          border-radius: 20px;
        }
        .solutionOptionOnebox {
          display: grid;
          grid-template-columns: auto 1fr;
          grid-column-gap: 22px;
          align-items: start;
          margin-top: 30px;
          h1 {
            @include list-heading;
          }
          .optionSolitionIconone {
            width: 80px;
            position: relative;
            height: 80px;
            padding: 10px;
            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              border: 10px solid #ccd0ff;
              background-color: #ffffff;
              left: 0px;
              top: 0px;
              border-radius: 50%;
              box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
            }
            img {
              z-index: 9;
              left: 4px !important;
              top: 5px !important;
            }
            .imageBorder {
              position: relative;
              z-index: 1;
            }
          }
        }
      }
    }
  }
  .institution {
    background: url("/images/work.svg") no-repeat right;
    background-position: top right;
    .WorkUsWrapperContent {
      .BenifitsheadingTwo {
        @include title;
      }
      .BenifitsHeadingOne {
        @include blue-title;
      }
      p {
        @include para;
      }
      .logo {
        display: grid;
        flex-wrap: wrap;
        grid-template-areas: auto;
        grid-template-rows: repeat(4, 100px);
        grid-template-columns: repeat(3, 1fr);
      }
      .readMoreBtn {
        background-color: transparent;
        border: none;
        font-size: 16px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 700;
        display: flex;
        align-items: center;
        grid-column-gap: 3px;
        margin: 50px auto 0px 90px;
        .CircleOne {
          border-radius: 50%;
          width: 15px;
          height: 15px;
          background: rgba(0, 0, 0, 0.3);
        }
        .Circletwo {
          border-radius: 50%;
          width: 15px;
          height: 15px;
          background: rgba(0, 0, 0, 0.5);
        }
        .Circlethree {
          border-radius: 50%;
          width: 15px;
          height: 15px;
          background: #000000;
        }
        .Circlearrow {
          border: 2px solid #000;
          border-radius: 50%;
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
@media (max-width: 1199px) {
  .home {
    .ins {
      h2 {
        font-size: 25px;
        span {
          font-size: 35px;
        }
      }
      .relative {
        .bg-ins {
          background-size: 100%;
          background-position: center;
          position: unset;
          height: 1234px;
          width: 100%;
          margin: 0 auto;
        }
      }
    }
    .complete {
      .bg-image {
        .girl {
          position: unset;
          background-position: center;
          margin: 0 auto;
        }
      }
    }
    .under {
      .col {
        .product {
          position: unset;
          width: auto;
          background-position: center;
        }
      }
    }
  }
}
@media (max-width: 1791px) {
  .home {
    .banner {
      .list-box {
        position: relative;
        width: 868px;
        top: -40px;
        left: 3em;
        .box {
          font-size: 18px;
          &:nth-child(2) {
            top: 40px;
            left: 11em;
          }
          &:nth-child(4) {
            top: 18em;
            left: 7em;
          }
          &:nth-child(5) {
            top: 27em;
            left: 27em;
          }
        }
      }
      h2 {
        font-size: 35px;
        span {
          font-size: 35px;
        }
      }
      ul {
        column-count: 2;
        li {
          font-size: 20px;
        }
      }
      .padding {
        width: 100%;
        padding-top: 5%;
      }
      .bg {
        // height: 900px;
        &::after {
          height: 900px;
          background-size: contain;
        }
      }
    }
    .ins {
      margin-top: 270px;
      p {
        font-size: 20px;
      }
      .space {
        left: 0;
      }
      h2 {
        font-size: 25px;
        span {
          font-size: 35px;
        }
      }
      .mainBoxWrapper {
        grid-template-columns: 1fr 1fr;
        .wrapperBox1 {
          .InstitutionoptionIcon {
            width: 70px;
            height: 70px;
            &::after {
              height: 60px;
              width: 60px;
            }
            img {
              width: 40px !important;
              height: 40px !important;
              top: 0px !important;
            }
          }
        }
      }
      .relative {
        .bg-ins {
          background-size: 87%;
          left: -20%;
        }
      }
      .contentBox {
        h2 {
          font-size: 20px;
        }
        p {
          font-size: 20px;
        }
      }
    }
    .complete {
      .subpera {
        font-size: 20px;
      }
      // padding: 0;
      .headingSolutionWhite {
        color: #fff;
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        margin-bottom: 0px;
      }
      .bg-image {
        width: 100%;
        height: auto;
        .girl {
          // background-size: 87%;
          // background-position: center;
          // position: unset;
          // // height: 500px;
          // width: auto;
          background-size: 87%;
          left: -95px;
        }
      }
      .headingSolutionblack {
        font-size: 25px;
      }
      .solutionOptionOnebox {
        h1 {
          font-size: 20px;
        }
        p {
          font-size: 20px;
        }
      }
    }
    .under {
      h1 {
        font-size: 25px;
      }
      h2 {
        font-size: 35px;
      }
      p {
        font-size: 20px;
      }
      .col {
        .product {
          margin: 73px auto;

          background-size: 89%;
          left: -14%;
        }
        .BenifitsWrapper {
          .solutionOptionOnebox {
            h1 {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-tablet-xl) {
  .auto {
    margin-top: 1047px !important;
  }
  .home {
    .banner {
      .bg {
        height: 100%;
        margin-bottom: 60px;
      }
      .padding {
        width: 100%;
      }
    }
    .ins {
      margin-top: 0px;
      .relative {
        display: flex;
        justify-content: center;
        .bg-ins {
          position: unset;
          background-size: 100%;
          background-position: center;
          position: unset;
          height: 1234px;
          width: 100%;
          margin: 0 auto;
        }
      }
    }
    .complete {
      margin-bottom: 20px;
      padding: 10px;
      .bg-image {
        .girl {
          // height: 853px;
          position: unset;
          background-position: center;
          // height: 887px;
          // width: 651px;
          margin: 0 auto;
        }
      }
    }
    .under {
      .col {
        .product {
          position: unset;
          width: auto;
        }
        .BenifitsWrapper {
          &::after {
            position: unset;
          }
        }
      }
    }
  }
}
@media (max-width: $breakpoint-tablet) {
  .auto {
    height: auto !important;
    margin: 0 !important;
  }
  .home {
    .banner {
      padding: 0;
      height: 603px;
      .bg {
        margin-bottom: 0px;
        &::after {
          height: 731px;
          background-size: cover;
          top: -129px;
        }
      }
      ul {
        li {
          font-size: 12px;
        }
      }
      .list-box {
        width: 500px;
        .box {
          font-size: 15px;
          &:nth-child(2) {
            top: 53px;
          }
          &:nth-child(1) {
            right: 15px;
          }
        }
      }
    }
    .ins {
      .relative {
        .bg-ins {
          height: 700px;
        }
      }
    }
    .complete {
      .bg-image {
        .girl {
          // height: 700px;
          background-size: 74%;
          right: -195px;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-phone) {
  .home {
    .banner {
      height: auto;
      padding: 0;
      .padding {
        width: 100%;
      }
      h1 {
        font-size: 15px;
      }
      h2 {
        font-size: 25px;
        span {
          font-size: 25px;
        }
      }
      ul {
        column-count: 1;
        margin: 0;
        li {
          font-size: 14px;
          line-height: 34px;
          font-weight: 400;
          &::before {
            width: 25px;
            height: 25px;
          }
        }
      }
      .bg {
        height: 400px;
        margin: 0;
        &::after {
          background-size: cover;
          height: 512px;
          top: -153px;
        }
      }
      .list-box {
        position: relative;
        width: 100%;
        left: 0px;
        .box {
          font-size: 8px;
          font-weight: 700;
          padding: 5px 8px;
          &:nth-child(1) {
            position: absolute;
            right: 85px;
            top: 0px;
          }
          &:nth-child(2) {
            position: absolute;
            top: 16px;
            left: 65px;
          }
          // &:nth-child(3) {
          //   position: unset;
          //   right: -89%;
          //   top: 115px;
          // }
          &:nth-child(4) {
            position: absolute;
            left: 17px;
            top: 26em;
          }
          &:nth-child(5) {
            position: absolute;
            top: 37em;
            background: rgb(255 255 255 / 70%);
          }
        }
      }
    }
    .ins {
      margin: 0;
      h2 {
        font-size: 18px;
        span {
          font-size: 25px;
        }
      }
      p {
        font-size: 14px;
      }
      .space {
        left: 0;
      }
      .relative {
        .bg-ins {
          position: unset;
          width: 313px;
          height: 400px;
          background-position: right;
        }
      }
      .contentBox {
        h2 {
          font-size: 14px;
        }
        p {
          font-size: 14px;
        }
      }
      .mainBoxWrapper {
        grid-template-columns: 1fr;
        .wrapperBox1 {
          margin: 0;
          .InstitutionoptionIcon {
            width: 55px;
            height: 55px;
            &::after {
              width: 45px;
              height: 45px;
              top: 5px !important;
            }
            img {
              width: 25px !important;
              height: 25px !important;
              top: 0px !important;
              left: 13px;
            }
          }
        }
      }
    }
    .complete {
      padding-bottom: 10%;
      margin-bottom: 0px;
      padding: 0px;
      top: 0%;
      position: relative;
      .headingSolutionWhite {
        font-size: 25px;
      }
      .headingSolutionblack {
        font-size: 20px;
      }
      .subpera {
        font-size: 14px;
      }
      .solutionOptionOnebox {
        margin: 0;
        h1 {
          font-size: 14px;
        }
        p {
          font-size: 14px;
        }
        .optionSolitionIconone {
          width: 45px;
          height: 45px;
          &::after {
            border: 4px solid #ccd0ff;
          }
          img {
            left: 0px !important;
          }
        }
      }
      .bg-image {
        .girl {
          background-size: 100%;
          position: relative;
          height: 500px;
          width: 100%;
          background-position: center;
          left: 0px;
        }
      }
      .readMoreBtn {
        margin: 0px auto 15px 45px;
        span {
          color: #000;
        }
      }
    }

    .under {
      p {
        font-size: 14px;
      }
      .col {
        .product {
          height: 450px;
        }
        .BenifitsWrapper {
          right: 0px;
          top: 0px;
          .solutionOptionOnebox {
            .optionSolitionIconone {
              width: 45px;
              height: 45px;
              &::after {
                border: 4px solid #ccd0ff;
              }
              img {
                z-index: 9;
                left: 0px !important;
                top: 0px !important;
              }
            }
          }
        }
      }
    }
  }
}
