//

@import "@styles/variable.scss";
@import "@styles/mixin.scss";

.hero {
  background-color: #b1b2ff;
  padding: 2rem 0;

  .hero-detail {
    .hero-upper {
      text-align: center;
      .hero-heading {
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 85px;
        text-align: center;

        color: #0e1133;
      }
      .hero-sub-heading {
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 43px;
        /* identical to box height */

        text-align: center;
      }
      .hero-para {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        text-align: center;

        color: #000000;

        padding: 1rem 0;
      }
    }
    .hero-lower {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 4rem 1rem;
      padding: 2rem 0;
      .lower-width {
        width: 30%;
        .lower-img {
          @include icons;
          @include h-center;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          border: 10px solid $dc-blue;
          background: #ffffff;
          margin: 0 auto;
        }
        .lower-text {
          .lower-heading {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            /* or 48px */

            color: #000000;
          }
          .lower-para {
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
            /* or 48px */

            color: #000000;
          }
        }
      }
    }
  }
}

//

.wrapper-first {
  padding: 5rem 0 2rem 0;

  .wrapper-box {
    background: #7171ff;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 5rem 3rem;
    position: relative;

    &::after {
      content: "";
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 20px;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 1rem;
      left: -1rem;
    }
    .top-wrapper {
      position: absolute;
      top: -18px;
      width: 100%;
      z-index: 2;

      .top-head {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        gap: 1rem;

        .top-flex {
          display: flex;
          justify-content: flex-start;
          gap: 1rem;
          align-items: flex-end;
          flex-wrap: wrap;
          .head-img {
            @include icons;
            @include h-center;
            // width: 120px;
            // height: 120px;
            padding: 15px;
            margin: 0 auto;
          }

          .text {
            .wrap-head {
              font-style: normal;
              font-weight: 700;
              font-size: 30px;
              line-height: 105.4%;
              color: #ffffff;
            }
            .wrap-para {
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 120%;
              color: #ccd0ff;
            }
          }
        }
        .wrap-bttn {
          margin: 0 auto;
          .apply-now {
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 34px;
            text-align: center;

            color: #ffffff;

            filter: drop-shadow(4px 4px 30px rgba(0, 0, 0, 0.25));

            background: #4bae4f;
            border: 1px solid #135e12;
            box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            padding: 5px 15px;
          }
        }
      }
    }
    .head-img-jali {
      width: 170px;
      position: absolute;
      right: 296px;
      top: 19px;
    }

    .job-description {
      margin-top: 4rem;
      z-index: 2;
      .description {
        display: flex;
        gap: 1rem;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 1rem;
        flex-wrap: wrap;
        .desc-img {
          @include icons;
          @include h-center;
          background: #7171ff;
          border: 1px solid #ffffff;
          box-shadow: inset 0px 0px 20px #5e5dff;
          border-radius: 5px;
          width: 60px;
          height: 60px;
        }
        .desceiption-heading {
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 150%;

          color: #ffffff;
        }
      }
      .description-para {
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 150%;

        color: #ccd0ff;
      }
    }
  }
}

//  Media Query
// 1300px
@media (max-width: $breakpoint-tablet-xxll) {
  .wrapper-first .wrapper-box .top-wrapper {
    position: unset;
  }
}

// 1192px
@media (max-width: $breakpoint-tablet-xl) {
  .hero .hero-detail .hero-lower {
    flex-direction: column;
    align-items: center;
  }
  .hero .hero-detail .hero-lower .lower-width {
    width: 40%;
  }

  .wrapper-first
    .wrapper-box
    .top-wrapper
    .top-head
    .top-flex
    .text
    .wrap-head {
    font-size: 25px;
    line-height: 70.4%;
  }

  .wrapper-first
    .wrapper-box
    .top-wrapper
    .top-head
    .top-flex
    .text
    .wrap-para {
    font-size: 18px;
  }

  .wrapper-first .wrapper-box .job-description .description-para {
    font-size: 18px;
  }

  .wrapper-first .wrapper-box .job-description {
    margin-top: 1rem;
  }

  .wrapper-first .wrapper-box .top-wrapper .top-head .top-flex .text {
    text-align: center;
    margin: 0 auto;
  }
  .wrapper-first .wrapper-box .top-wrapper .top-head .wrap-bttn {
    margin: 0 auto;
  }
}

// 991px
@media (max-width: $breakpoint-tablet-sm) {
  .hero .hero-detail .hero-lower .lower-width {
    width: 100%;
    text-align: center;
  }

  .hero .hero-detail .hero-lower {
    gap: 2rem;
  }

  .hero .hero-detail .hero-upper .hero-heading {
    font-size: 25px;
    line-height: 60px;
  }

  .hero .hero-detail .hero-upper .hero-sub-heading {
    font-size: 20px;
    line-height: 28px;
  }

  .hero .hero-detail .hero-upper .hero-para {
    font-size: 18px;
    line-height: 25px;
  }

  .hero .hero-detail .hero-lower {
    padding: 1rem 0;
  }

  .wrapper-first .wrapper-box .top-wrapper .top-head .top-flex .text {
    text-align: unset;
    margin: unset;
  }

  .wrapper-first .wrapper-box .top-wrapper .top-head .top-flex .head-img {
    width: 90px;
    height: 90px;
  }
}

//  768px
@media (max-width: $breakpoint-tablet) {
  .wrapper-first .wrapper-box .top-wrapper .top-head .top-flex .text {
    text-align: center;
    margin: 0 auto;
  }

  .wrapper-first .wrapper-box .top-wrapper .top-head .top-flex .head-img {
    width: 130px;
    height: 130px;
  }
  .wrapper-first
    .wrapper-box
    .top-wrapper
    .top-head
    .top-flex
    .text
    .wrap-head {
    line-height: 120.4%;
  }
}

@media (max-width: 576px) {
  .wrapper-first .wrapper-box .head-img-jali {
    right: 1px;
  }
}

//  425px
@media (max-width: $breakpoint-phone) {
  .wrapper-first .wrapper-box {
    padding: 2rem 1rem;
  }
  .wrapper-first .wrapper-box .job-description .description-para {
    font-size: 16px;
  }
}
