// @import "../../assets/scss/variable.scss";

@import "@styles/variable.scss";

.sign-up {
  background: $blue;
  position: relative;
  padding: 22rem 0;
  .main-box {
    padding: 50px;
    background: #e3e4ff;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: relative;
    // position: absolute;
    // transform: translate(-50%, 50px);
    // top: 190px;
    // left: 50%;
    width: 900px;
    z-index: 9;
    &::after {
      content: "";
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(204,208,255)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
      top: 18px;
      background-size: 100% 100%;
      position: absolute;
      left: -20px;
      width: 100%;
      height: 94%;
      background-repeat: no-repeat;
      border-radius: 20px;
      z-index: -9;
    }
    .relative {
      position: relative;
      height: 450px;
      top: 28px;
      .s-icon {
        position: absolute;
        z-index: 99;
        top: -77px;
        right: -49px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        img {
          width: 125px;
        }
      }
      .frame {
        background: url("/images/Login/frame2.svg") no-repeat;
        width: 400px;
        position: absolute;
        background-size: 80%;
        z-index: 9;
        height: 272px;
        bottom: -155px;
        left: -247px;
      }
      .img-box {
        position: absolute;
        left: -240px;
        z-index: 9;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        &::after {
          content: "";
          background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
          top: -12px;
          background-size: 100% 100%;
          position: absolute;
          left: -14px;
          width: 340px;
          height: 100%;
          background-repeat: no-repeat;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          border-radius: 20px;
        }
        img {
          height: 450px;
          position: relative;
        }
      }
    }
    h1 {
      font-weight: 700;
    }
    form {
      .box {
        background: $blue;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 15px;
        height: 40px;
        .google-icon {
          background: url("/images/Login/g-icon.svg") no-repeat;
          height: 40px;
          width: 43px;
          background-size: cover;
          cursor: pointer;
        }
      }
      .line {
        padding-bottom: 30px;
        position: relative;
        width: 63%;
        margin: 0 auto;
        &::before {
          content: "";
          height: 0.5px;
          width: 100%;
          background-color: $blue;
          position: absolute;
          left: 0;
        }
        .h {
          transform: translate(-50%, 0px);
          position: absolute;
          top: -9px;
          background: #fff;
          height: 20px;
          width: 20px;
          left: 50%;
          text-align: center;
          line-height: 18px;
          font-size: 14px;
          border-radius: 5px;
        }
      }
      .input-group {
        .input-group-text {
          background-color: $blue;
          border-color: $blue;
          border-radius: 10px;
          height: 40px;
          img {
            width: 28px;
          }
        }
        input {
          background: $blue;
          border-color: $blue;
          border-radius: 10px;
          height: 40px;
        }
      }
      button {
        background: $green;
        border: none;
        padding: 5px 20px;
      }
    }
    .frame {
      background: url("/images/frame-1.png") no-repeat;
      height: 200px;
      position: absolute;
      bottom: 0;
      width: 300px;
      right: -316px;
      background-size: 67%;
    }
    .top-frame {
      background: url("/images/frame-1.png") no-repeat;
      height: 200px;
      position: absolute;
      top: -57px;
      width: 300px;
      right: -316px;
      background-size: 67%;
    }
    .top-blue-frame {
      background: url("/images/frame-2.png") no-repeat;
      height: 200px;
      position: absolute;
      top: -62px;
      width: 300px;
      right: -133px;
      background-size: 100%;
    }
  }
}
@media (max-width: $breakpoint-tablet-xl) {
  .sign-up {
    .main-box {
      .top-frame {
        display: none;
      }
      .top-blue-frame {
        display: none;
      }
      .frame {
        display: none;
      }
    }
  }
}
@media (max-width: $breakpoint-tablet-sm) {
  .sign-up {
    .main-box {
      position: unset;
      width: auto;
      transform: inherit;
      margin: 0 24px;
      text-align: center;
      .relative {
        top: 0;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        .img-box {
          position: unset;
          &::after {
            left: 50%;
            transform: translate(-50%, 10px);
          }
        }
        .frame {
          display: none;
        }
      }
      .ms-5 {
        margin-left: 0 !important;
      }
      form {
        .form-check {
          display: flex;
          justify-content: center;
          gap: 12px;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-phone) {
  .sign-up {
    .main-box {
      .relative {
        .img-box {
          box-shadow: none;
          img {
            height: 75%;
          }
          &::after {
            display: none;
          }
        }
      }
    }
  }
}
