@import "@styles/variable.scss";

@mixin list-heading {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0px;
}
@mixin border-dashed {
  background-image: url("data:image/svg+xml,%3csvg width='100%45' height='100%45' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  width: 100%;
  height: 100%;
  position: absolute;
}
@mixin h-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin check-icon {
  background: url("/images/checkIcon.svg") no-repeat;
  height: 40px;
  width: 40px;
  box-shadow: none;
}
@mixin bullet-center {
  display: flex;
  align-items: center;
  gap: 5px;
}
@mixin circle {
  background: $black;
  width: 15px;
  height: 15px;
  border-radius: 50px;
}
@mixin arrow {
  background: url("/images/arrow.svg") no-repeat;
  width: 15px;
  height: 15px;
  background-size: 100%;
  cursor: pointer;
}
@mixin border {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
@mixin title {
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 0px;
}
@mixin blue-title {
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  color: #0e1133;
}
@mixin para {
  font-size: 25px;
  color: #ccd0ff;
}
@mixin border {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

@mixin reset-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  gap: 1rem;
}
@mixin icons {
  width: 130px;
  height: 130px;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  z-index: 10;
}
@mixin sm-icons {
  width: 112px;
  height: 112px;
  background: linear-gradient(180deg, #ccd0ff 0%, #edeeff 100%);
  border-radius: 10px;
}
@mixin selec-sec {
  background-color: #cccdff;
  border-radius: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #0e1133;
}
@mixin admin-icons {
  background: $white;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 150px;
  height: 150px;
}
@mixin heading-28 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #0e1133;
}
