@import "@styles/variable.scss";
@import "@styles/mixin.scss";
.parent-component {
  background-color: #b1b2ff;
  padding: 3rem 5rem;
  // text-align: center;
  .child-component {
    .child-component-heading {
      text-align: center;
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 85px;
      text-align: center;

      color: #0e1133;
    }
    .child-component-para {
      text-align: center;

      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      text-align: center;

      color: #0e1133;
    }
  }

  .parterner-imgg {
    position: relative;
    width: 300px;

    &::after {
      content: "";

      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 20px;
      position: absolute;
      width: 84%;
      height: 64%;
      top: 5rem;
      left: 1rem;
    }
    .child-component-img1 {
      // width: 100%;
      text-align: center;
    }
    .align-img {
      position: absolute;
      top: 37px;
      right: 31px;
      background: rgba(255, 255, 255, 0.75);
      box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
      border-radius: 20px;

      .partImgg {
        padding: 0.5rem;
        width: 90px;
        height: 90px;
      }
    }

    .align-img-img {
      position: absolute;

      top: 269px;
      left: 18px;

      .partImgg {
        width: 250px;
        height: 250px;
      }
    }
  }

  .child-component-sub-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 49px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #0e1133;
    padding-top: 5rem;
  }
  .child-component-sub-para {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.01em;

    color: #0e1133;
  }

  .child-component-imgg1 {
    background: #ffffff;
    border-radius: 50%;
    padding: 10px !important;
    border: 10px solid #e3e3ff !important;

    width: 80px;
    height: 80px;

    text-align: center;
  }

  .sub-child-component-sub-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;

    color: #0e1133;
  }

  .sub-child-component-sub-para {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    color: #0e1133;
  }
}

.align-div-parent {
  position: relative;
  padding: 3rem;
  .second-parent-main {
    background: #7171ff;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    padding: 2rem 3rem;
    width: 100%;
    position: relative;

    &::after {
      content: "";

      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 20px;
      position: absolute;
      width: 100%;
      height: 100%;
      top: -1rem;
      left: -1rem;
    }
    .z-index {
      z-index: 1;
    }
    .alignment {
      position: absolute !important;
      width: 100%;
      margin-top: -20px;

      .cen-pad-right {
        text-align: center;
        .second-parent-main-img {
        }
      }

      .second-parent-main-heading {
        width: 100%;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 47px;

        color: #ffffff;
      }

      .second-parent-main-para {
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 37px;

        color: #ccd0ff;
      }
    }

    .mt-five {
      margin-top: 7rem;

      .second-parent-main-para-head {
        font-style: normal;
        font-weight: 400;
        // font-size: 20px;
        // line-height: 151.9%;

        color: #ffffff;
      }
    }

    .mb-3 {
      .input-form-group {
        background: #b1b2ff !important;
        border-radius: 10px;
        border: none;
      }
    }

    .submit-bttn {
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 40px;
      /* identical to box height, or 154% */

      text-align: center;

      color: #000000;

      background: linear-gradient(
        180deg,
        #05ff00 0%,
        #b5ffc1 4.17%,
        #5cda5a 50.52%,
        #4dbe4a 52.6%,
        #05ff00 100%
      );
      border: 1px solid #a6a6a6;
      box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25),
        inset 0px 0px 10px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
    }
  }

  .third-parent-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 55px;
    text-align: center;

    color: #0e1133;
  }
  .third-parent-heading-main {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 67px;
    text-align: center;

    color: #ffffff;
  }
  .third-parent-para {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height */

    text-align: center;

    color: #ccd0ff;
  }
  .third-parent-img {
  }
  .third-parent-img-text {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 37px;
    text-align: center;

    color: #ffffff;
  }
  .third-parent-img-num {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    color: #ccd0ff;
  }
  .right {
    left: 40%;
    z-index: 99;
    top: 72px;
    width: 340px;
  }
  .partnerImg {
    position: relative;
    width: 300px;
    height: 400px;

    &::before {
      content: "";

      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 20px;
      position: absolute;
      width: 73%;
      height: 69%;
      top: -1rem;
      left: -1rem;
    }

    .partImg {
      border-radius: 20px;
      width: 218px;
      height: 278px;
    }
  }

  .fourth-parent-immg {
    display: grid;
    place-content: center;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    right: 82px;

    background: rgba(255, 255, 255, 0.75);
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    .partImgg {
      padding: 0.5rem;
      width: 90px;
      height: 90px;
    }
  }

  .fourth-parent-immg-second {
    position: absolute;
    z-index: 2;
    bottom: 36px;
    left: -5px;

    .partImggg {
      width: 213px;
      height: 223px;
    }
  }
  .fourth-parent-sub {
    background: #7171ff;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 1rem 2rem 2rem 11rem;
    position: relative;

    &::after {
      content: "";

      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 20px;
      position: absolute;
      width: 100%;
      height: 100%;
      top: -1rem;
      left: -1rem;
    }

    .fourth-parent-heading {
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 67px;
      /* identical to box height */

      letter-spacing: 0.01em;

      color: #ffffff;
    }
    .fourth-parent-para {
      color: #ccd0ff;
    }
  }
}

//  Media Query
// 1300px
@media (max-width: $breakpoint-tablet-xxll) {
  .align-div-parent {
    .right {
      left: auto;
      top: auto;
      margin: 131px auto;
    }
    .fourth-parent-sub {
      padding: 20px;
    }
  }

  .align-div-parent .fourth-parent-sub .fourth-parent-heading {
    text-align: center;
  }
  .align-div-parent .fourth-parent-sub .fourth-parent-para {
    text-align: center;
  }

  .align-div-parent .second-parent-main .alignment .second-parent-main-heading {
    font-size: 25px;
  }

  .align-div-parent .second-parent-main .alignment .second-parent-main-para {
    font-size: 20px;
  }

  .align-div-parent .second-parent-main .mt-five .second-parent-main-para-head {
    font-size: 17px;
  }

  .align-div-parent .second-parent-main .mt-five {
    margin-top: 7rem;
  }
}

// 1192px
@media (max-width: $breakpoint-tablet-xl) {
  .parent-component .child-component-sub-heading {
    text-align: center;
  }

  .parent-component .child-component-sub-para {
    text-align: center;
  }

  .parent-component .child-component .child-component-heading {
    font-size: 35px;
  }

  .parent-component .child-component .child-component-para {
    font-size: 18px;
  }

  .parent-component .child-component-sub-heading {
    font-size: 30px;
  }

  .parent-component .child-component-sub-para {
    font-size: 20px;
  }

  .parent-component .sub-child-component-sub-heading {
    font-size: 20px;
  }

  .parent-component .sub-child-component-sub-para {
    font-size: 17px;
  }

  .parent-component {
    padding: 3rem 0;
  }

  .align-div-parent .fourth-parent-sub .fourth-parent-para {
    font-size: 17px;
  }
}

// 991px
@media (max-width: $breakpoint-tablet-sm) {
  .align-div-parent .second-parent-main .mt-five {
    margin-top: 19rem;
  }
  .parent-component .sub-child-component-sub-heading {
    text-align: center;
  }

  .parent-component .sub-child-component-sub-para {
    text-align: center;
  }

  .align-div-parent .second-parent-main .alignment .second-parent-main-heading {
    text-align: center;
    padding-right: 3rem;
  }

  .align-div-parent .second-parent-main .alignment .second-parent-main-para {
    text-align: center;
    padding-right: 3rem;
  }

  .align-div-parent {
    padding: 3rem 0;
  }

  .align-div-parent .second-parent-main .alignment {
    width: unset;
  }

  .align-div-parent .second-parent-main .alignment .cen-pad-right {
    text-align: center;
    padding-right: 3rem;
  }
}

//  768px
@media (max-width: $breakpoint-tablet) {
  .partnerImg-center {
    text-align: center;
  }
  .input-form-group-m {
    margin-bottom: 1rem;
  }

  .align-div-parent .second-parent-main .mt-five {
    margin-top: 24rem;
  }

  .align-div-parent .second-parent-main .submit-bttn {
    font-size: 11px;
  }

  .align-div-parent .second-parent-main {
    padding: 2rem 2rem;
  }

  .align-div-parent .second-parent-main .alignment .cen-pad-right {
    padding-right: 2rem;
    width: 175px;
    height: 175px;
  }

  .align-div-parent .third-parent-heading {
    font-size: 25px;
  }

  .align-div-parent .third-parent-heading-main {
    font-size: 35px;
  }

  .align-div-parent .third-parent-para {
    font-size: 17px;
  }
}

@media (max-width: 576px) {
  .align-div-parent .second-parent-main .mt-five {
    margin-top: 27rem;
  }

  .align-div-parent .second-parent-main .alignment .second-parent-main-heading {
    font-size: 20px;
  }

  .align-div-parent .second-parent-main .alignment .second-parent-main-para {
    font-size: 17px;
  }
}

//  425px
@media (max-width: $breakpoint-phone) {
  .align-div-parent .second-parent-main .alignment .cen-pad-right {
    padding-right: unset;
    width: unset;
    height: unset;
  }

  .align-div-parent .second-parent-main .submit-bttn {
    font-size: 16px;
  }

  .align-div-parent .second-parent-main .mt-five {
    margin-top: 24rem;
  }
}
