//

@import "@styles/mixin.scss";

.pricing-hero {
  background-color: #b1b2ff;
  padding: 2rem 0 20rem 0;

  .details {
    .details-upper {
      .details-heading {
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 85px;
        text-align: center;

        color: #0e1133;
      }
      .details-para {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        text-align: center;

        color: #0e1133;
      }
    }
    .details-lower {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;

      gap: 2rem;

      .employee-card {
        flex: 0 0 23%;
        // border: 1px solid red;
        .ec-img {
          height: 180px;
          width: 180px;
          //   text-align: center;
        }
        .ec-heading {
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 30px;
          //   text-align: center;

          color: #0e1133;
        }
        .ec-para {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 29px;
          //   text-align: center;

          color: #0e1133;
        }
      }
    }
  }
}

//

.pricing-wrapper {
  padding: 2rem 0;
  position: relative;

  .pricing-main {
    background: #7171ff;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 2rem;
    position: relative;
    top: -15rem;
    left: 0;
    margin-bottom: 10rem;

    &::after {
      content: "";

      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 20px;
      position: absolute;
      width: 100%;
      height: 100%;
      top: -1rem;
      left: -1rem;
    }
    .wrapper-upper {
      display: flex;
      justify-content: flex-start;

      gap: 1rem;
      align-items: flex-end;
      position: absolute;
      top: -37px;
      left: 27px;
      .wp-img {
        width: 140px;
        height: 140px;
      }
      .wp-text {
        .wp-heading {
          font-style: normal;
          font-weight: 700;
          font-size: 30px;
          line-height: 35px;

          color: #ffffff;
        }
        .wp-para {
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 23px;

          color: #ccd0ff;
        }
      }
    }

    .wrapper-lower {
      padding: 2rem 3rem;
      margin-top: 4rem;
      .type-of-prize {
        background: linear-gradient(
          180deg,
          #e2cabc 0%,
          #ffe4d6 34.38%,
          #e2cabc 100%
        );
        border-radius: 5px;
        padding: 1rem;
        margin: 1rem 0;
        .name {
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          line-height: 30px;
          text-align: center;

          color: #000000;
          text-align: center;
        }
        .icn {
          width: 80px;
          height: 80px;
          margin: 0 auto;
        }
        .cost {
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          line-height: 30px;

          color: #0e1133;
          text-align: center;
          margin-bottom: 4.2rem;
        }

        .feature {
          .feature-name {
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;

            color: #0e1133;
          }
        }

        .bttn {
          text-align: center;
          padding: 2rem 0;
          .btn-w {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;

            color: #000000;

            background: linear-gradient(
              180deg,
              #ffffff 0%,
              #eaeaea 41.15%,
              #d3d3d3 44.27%,
              #ffffff 79.17%
            );
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            padding: 1rem 2rem;
          }
        }
      }

      .type-of-prize-s {
        background: linear-gradient(
          180deg,
          #dfdfdf 0%,
          #ffffff 36.46%,
          #dfdfdf 100%
        );
        border-radius: 5px;
        padding: 1rem;
        margin: 1rem 0;
        .name {
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          line-height: 30px;
          text-align: center;

          color: #000000;
          text-align: center;
        }
        .icn {
          width: 80px;
          height: 80px;
          margin: 0 auto;
        }
        .cost-s {
          font-style: normal;
          font-weight: 700;
          font-size: 45px;
          line-height: 55px;

          color: #0e1133;
          text-align: center;
        }
        .cost-f {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;

          text-align: center;

          color: #0e1133;
        }

        .feature {
          .feature-name-s {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;

            color: #0e1133;
            list-style: none;
          }
          .feature-name {
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;

            color: #0e1133;
            list-style: none;
            &::before {
              content: "+ ";
              color: #4bae4f;
              font-weight: 700;
              font-size: 15px;
            }
          }
        }

        .bttn-s {
          text-align: center;
          padding: 2rem 0;
          .btn-w {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;

            color: #000000;

            background: linear-gradient(
              180deg,
              #ffffff 0%,
              #eaeaea 41.15%,
              #d3d3d3 44.27%,
              #ffffff 79.17%
            );
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            padding: 1rem 2rem;
          }
        }
      }

      .type-of-prize-g {
        background: linear-gradient(
          180deg,
          #fbd471 0%,
          #ffe9af 34.9%,
          #e6c267 100%
        );
        border-radius: 5px;
        padding: 1rem;
        margin: 1rem 0;
        .name {
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          line-height: 30px;
          text-align: center;

          color: #000000;
          text-align: center;
        }
        .icn {
          width: 80px;
          height: 80px;
          margin: 0 auto;
        }
        .cost-s {
          font-style: normal;
          font-weight: 700;
          font-size: 45px;
          line-height: 55px;

          color: #0e1133;
          text-align: center;
        }
        .cost-f {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;

          text-align: center;

          color: #0e1133;
        }

        .feature {
          .feature-name-s {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;

            color: #0e1133;
            list-style: none;
          }
          .feature-name {
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;

            color: #0e1133;
            list-style: none;
            &::before {
              content: "+ ";
              color: #4bae4f;
              font-weight: 700;
              font-size: 15px;
            }
          }
        }

        .bttn-g {
          text-align: center;
          padding: 2rem 0;
          .btn-w {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;

            color: #000000;

            background: linear-gradient(
              180deg,
              #ffffff 0%,
              #eaeaea 41.15%,
              #d3d3d3 44.27%,
              #ffffff 79.17%
            );
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            padding: 1rem 2rem;
          }
        }
      }

      .type-of-prize-p {
        background: linear-gradient(
          180deg,
          #bfe4ff 0%,
          #d8eeff 34.9%,
          #bfe4ff 100%
        );
        border-radius: 5px;
        padding: 1rem;
        margin: 1rem 0;
        .name {
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          line-height: 30px;
          text-align: center;

          color: #000000;
          text-align: center;
        }
        .icn {
          width: 80px;
          height: 80px;
          margin: 0 auto;
        }
        .cost-s {
          font-style: normal;
          font-weight: 700;
          font-size: 45px;
          line-height: 55px;

          color: #0e1133;
          text-align: center;
        }
        .cost-f {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;

          text-align: center;

          color: #0e1133;
        }

        .feature {
          .feature-name-s {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;

            color: #0e1133;
            list-style: none;
          }
          .feature-name {
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;

            color: #0e1133;
            list-style: none;
            &::before {
              content: "+ ";
              color: #4bae4f;
              font-weight: 700;
              font-size: 15px;
            }
          }
        }

        .bttn-p {
          text-align: center;
          padding: 2rem 0;
          .btn-w {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;

            color: #000000;

            background: linear-gradient(
              180deg,
              #ffffff 0%,
              #eaeaea 41.15%,
              #d3d3d3 44.27%,
              #ffffff 79.17%
            );
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            padding: 1rem 2rem;
          }
        }
      }
    }

    .contact-text {
      position: relative;
      .img-contact {
        @include icons;
        padding: 1rem;
        position: absolute;
        top: -70px;
        right: 14px;
      }
      .head1 {
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 67px;

        color: #0e1133;
      }
      .head2 {
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 85px;

        color: #ffffff;
      }
      .para {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;

        color: #ccd0ff;
      }
    }

    .contact-form {
      .input-group {
        z-index: 10;

        .input-group-text {
          background: #b1b2ff;
          border: none;
          align-items: flex-start;

          .formIcon {
            width: 70%;
          }
        }

        .form-control {
          background: #b1b2ff;
          border: none;
        }
      }

      .bttn-b {
        z-index: 10;
        margin: 1rem 0;

        .btn-primary {
          float: right;
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;

          color: #ffffff;

          background: #4bae4f;
          border-radius: 10px;
          border: none;
        }
      }
    }
  }
}

//

//  Media Query
// 1300px
@media (max-width: $breakpoint-tablet-xxll) {
  .pricing-wrapper {
    .pricing-main {
      .wrapper-upper {
        position: unset;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
      }
      .wrapper-lower {
        padding: 1rem 0rem;
        margin-top: unset;
      }
    }
  }
}

// 1192px
@media (max-width: $breakpoint-tablet-xl) {
  .pricing-wrapper {
    .pricing-main {
      .wrapper-lower {
        .type-of-prize {
          .cost {
            font-size: 20px;
          }
          .bttn {
            .btn-w {
              padding: 0.5rem 1rem;
              font-size: 20px;
            }
          }
        }
        .type-of-prize-s {
          .cost-s {
            font-size: 20px;
          }
          .bttn-s {
            .btn-w {
              padding: 0.5rem 1rem;
              font-size: 20px;
            }
          }
        }

        .type-of-prize-g {
          .cost-s {
            font-size: 20px;
          }
          .bttn-g {
            .btn-w {
              padding: 0.5rem 1rem;
              font-size: 20px;
            }
          }
        }

        .type-of-prize-p {
          .cost-s {
            font-size: 20px;
          }
          .bttn-p {
            .btn-w {
              padding: 0.5rem 1rem;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

// 991px
@media (max-width: $breakpoint-tablet-sm) {
  .pricing-hero {
    .details {
      .details-upper {
        .details-heading {
          font-size: 25px;
        }
        .details-para {
          font-size: 18px;
        }
      }
      .details-lower {
        .employee-card {
          .ec-heading {
            font-size: 18px;
          }
          .ec-para {
            font-size: 16px;
          }
        }
      }
    }
  }

  .pricing-wrapper {
    .pricing-main {
      .contact-text {
        .head1 {
          font-size: 20px;
          line-height: 40px;
        }
        .head2 {
          font-size: 25px;
          line-height: 40px;
        }
        .para {
          font-size: 18px;
          line-height: 30px;
        }
      }
    }
  }
}

//  768px
@media (max-width: $breakpoint-tablet) {
}

@media (max-width: 576px) {
  .pricing-wrapper {
    .pricing-main {
      .contact-text {
        position: unset;
        text-align: center;
        .img-contact {
          position: unset;
          margin: 0 auto;
        }
      }
    }
  }
}

//  425px
@media (max-width: $breakpoint-phone) {
}
