@import "@styles/mixin.scss";
@import "@styles/variable.scss";

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: $green;
}
.ant-steps-item-finish.ant-steps-item-custom
  .ant-steps-item-icon
  > .ant-steps-icon {
  color: $green;
}
.ant-steps-item-process.ant-steps-item-custom
  .ant-steps-item-icon
  > .ant-steps-icon {
  color: $green;
}
.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: $green;
  height: 3px;
}

.ant-steps-item-title::after {
  height: 3px;
}
.profile-m {
  form {
    .form-control {
      background-color: $blue;
    }
    #fileInput {
      display: none;
    }
    #icon {
      width: 40px;
      cursor: pointer;
    }
    .input {
      height: 60px;
      border-radius: 10px;
      padding: 5px 20px;
      background-color: $paragraph;
      display: flex;
      align-items: center;
      label {
        display: flex;
        align-items: center;
        gap: 20px;
        span {
          color: #6463ff;
          font-size: 16px;
        }
      }
    }
    .text-end {
      position: absolute;
      bottom: 0;
      right: 30px;
      button {
        background-color: $green;
        border: none;
      }
    }
  }
  .btn-success {
    background-color: $green;
    border: none;
  }
  .Add-more {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 5rem;

    color: rgba(95, 94, 255, 0.5);

    background: #cccdff;
    border-radius: 10px;
    padding: 0.5rem 2rem;
  }
}
.profile-register-form {
  form {
    .form-control {
      background-color: $paragraph;
      border: none;
      height: 50px;
    }
    .form-select {
      background-color: $paragraph;
      border: none;
      height: 50px;
    }
    label {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;

      color: #0e1133;
    }
  }
}
.main-admin {
  .outline-primary {
    background-color: $blue;
  }
  .profile-m {
    // width: 1498px;
    height: 100%;
    background: #e3e4ff;
    border-radius: 20px;
    padding: 0 1rem 1rem;
    position: relative;
    filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.25));

    .profile-p {
      display: flex;
      gap: 1rem;
      margin-left: 7rem;
      .proIcn {
        width: 144px;
        height: 144px;
        padding: 1rem;
        z-index: 1;
        background: rgba(255, 255, 255, 0.75);
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
      }

      .pro-flex {
        margin-top: 1rem;

        .profile-head {
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 39px;
          color: #0e1133;
        }

        .profile-desc {
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          color: #0e1133;
        }
      }
    }

    .profile-pics {
      position: relative;
      .profile-icon {
        z-index: 9;
        position: absolute;
        top: -113px;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        margin-right: 40px;
        img {
          width: 150px;
        }
      }
      .frame {
        position: relative;
        top: -74px;
        z-index: -1;
        left: 48px;
      }

      .profile-photo {
        width: 498.64px;
        height: 600px;
        position: relative;
        // padding: 30px;
        left: 83px;
        background: rgba(255, 255, 255, 0.75);
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

        &::after {
          content: "";
          background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
          // border: 5px dashed red;
          top: -1rem;
          height: 100%;
          width: 100%;
          position: absolute;
          left: -1rem;
          border-radius: 20px;
        }
        .edit {
          background: #f8f8ff;
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
          width: 80px;
          height: 79.17px;
          position: absolute;
          top: 32px;
          right: -33px;
          display: grid;
          place-content: center;
          z-index: 9;
        }
        .photo {
          background: url("/images/drag.png") no-repeat;
          height: 100%;
          width: 100%;
          background-size: contain;
        }
      }
    }
  }
}

@media (max-width: 1750px) {
  .main-admin {
    .profile-m {
      .profile-p {
        display: flex;
        gap: 1rem;

        .proIcn {
          width: 144px;
          height: 144px;
          padding: 1rem;
          z-index: 1;
          background: rgba(255, 255, 255, 0.75);
          box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
        }

        .pro-flex {
          margin-top: 1rem;

          .profile-head {
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 39px;
            color: #0e1133;
          }

          .profile-desc {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #0e1133;
          }
        }
      }

      .profile-pics {
        position: relative;
        margin: 0 auto;
        margin-bottom: 25px;

        .profile-photo {
          left: 18px;
          // height: auto;
          width: 480px;
          height: 576px;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-tablet-sm) {
  .main-admin {
    .profile-m {
      .profile-p {
        margin: 0;
      }
      .profile-pics {
        .profile-icon {
          top: 0;
          width: 125px;
          display: none;
        }

        .profile-photo {
          margin: 0 auto;
        }
        .frame {
          display: none;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-tablet) {
  .main-admin {
    .profile-m {
      .profile-pics {
        width: auto;
        
        .profile-icon {
          display: none;
        }

        .profile-photo {
          width: 250px;
          height: auto;
          left: 0;
          &::after {
            left: 0;
            top: 0;
          }
          .edit {
            top: 0;
            width: 40px;
            height: 40px;
            right: 0;
            border-radius: 10px;
            img {
              width: 30px;
            }
          }
        }
        .frame {
          display: none;
        }
      }
    }
  }
}
