@import "@styles/mixin.scss";
@import "@styles/variable.scss";

:where(.css-dev-only-do-not-override-yp8pcc).ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: $green;
}
:where(.css-dev-only-do-not-override-yp8pcc).ant-steps
  .ant-steps-item-finish.ant-steps-item-custom
  .ant-steps-item-icon
  > .ant-steps-icon {
  color: $green;
}
:where(.css-dev-only-do-not-override-yp8pcc).ant-steps
  .ant-steps-item-process.ant-steps-item-custom
  .ant-steps-item-icon
  > .ant-steps-icon {
  color: $green;
}
:where(.css-dev-only-do-not-override-yp8pcc).ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: $green;
  height: 3px;
}
:where(.css-dev-only-do-not-override-yp8pcc).ant-steps
  .ant-steps-item-title::after {
  height: 3px;
}

.ant-steps-item-custom > .ant-steps-item-container > .ant-steps-item-icon > .ant-steps-icon{
  top: -6px;
}
// Information CSS
.information{
  #fileInput{
    display: none;
  }
  .p-image-upload{
    @include icons;
    width: 178px;
    height: 178px;
    display: flex;
    background: linear-gradient(180deg, #ecedff 50%, #cbcdff 50%);
    
  }
  .inner-circle{
    background-color: #f3f4ff;
      width: 150px;
      height: 150px;
      border: 1px solid #aa9ae9;
      border-radius: 50%;
      position: relative;
      left: 14px;
      top: 14px;
      display: flex;
      flex-direction: column;
  }
  .upload-icon{
      text-align: center;
      width: 100%;
      margin-top: 20px;
      hr{
        width: 79%;
        margin: auto;
        margin-bottom: 6px;
        height: 3px;
        border-top: 2px solid;
      }
      p{
        font-size: 14px;
        line-height: 20px;
      }
  }
  .upload-text{
    text-align: center;
      width: 100%;
      line-height: 19px;
      font-size: 14px;
      margin-top: -10px;
  }
  .basic-info-form{
    ::placeholder{
      padding-left: 2.5rem;
    }
    .basic-info-form_icon{
      width: 30px;
      height: 30px;
      position: relative;
      top: 35px;
      left: 10px;
    }
  }
}

// Information CSS

//Report Card CSS
.reportcard{
  thead tr>th:first-child{
    border-radius:10px 0 0 10px;
  }
  thead tr>th:last-child{
    border-radius:0 10px 10px 0;
  }
  .report-card-table tr>th{
  padding: 1rem;
  }
  .report-card-table tr>td{
  padding: 1rem;
  }
  .button-div{
    img{
      position: relative;
    }
    button{
      border:none;
      border-radius: 5px;
     
    }
  }
  .badge-div{
    margin-top: 10px;
    margin-bottom: 10px;
    :nth-child(1){
      width: 165px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    :nth-child(2){
      width: 200px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    :nth-child(3){
      width: 190px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    :nth-child(4){
      width: 190px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
   
    div{
      display: inline-block;
      background: #ffffff;
      border-radius: 15px;
      padding: 8px;
      /* margin-right: 72px; */
      margin: 0px 15px 0 15px;
    }
    
    
  }
}
//Report Card CSS
// Certificate CSS
.certificate{
  #fileInput{
    display: none;
  }
  .icon-div{
    width: 48px;
    height: 48px;
    background: #fff;
    margin: auto;
    border-radius: 7px;
    padding: 12px;
  }
  
}
// Certificate CSS
//Badges CSS
.badges{

  #fileInput{
    display: none;
  }
  .icon-div{
    width: 48px;
    height: 48px;
    background: #fff;
    margin: auto;
    border-radius: 7px;
    padding: 12px;
  }
}
//Badges CSS
//RecommendationLetter CSS
.recommendationLetter{
  #fileInput{
    display: none;
  }
  .icon-div{
    width: 48px;
    height: 48px;
    background: #fff;
    margin: auto;
    border-radius: 7px;
    padding: 12px;
  }
}
//RecommendationLetter CSS

// Gallery CSS
.gallery{
  .imagegallery-div{
    width: 97%;
    background: #fff;
    margin-left: 12px;
    border-radius: 7px;
    padding: 8px;
    span{
      padding-left: 15px;
    }
  }
  .position-relative{
    height: 60px;
    border-radius: 10px;
    padding: 5px 20px;
    background-color: #ccd0ff;
    display: flex;
    align-items: center;
  }
  #fileInput{
    display: none;
  }
  .icon-div{
    width: 48px;
    height: 48px;
    background: #fff;
    margin: auto;
    border-radius: 7px;
    padding: 12px;
  }
}
// Gallery CSS
.registration {
  form {
    .form-control {
      background-color: $blue;
    }
    #fileInput {
      display: none;
    }
    #icon {
      width: 40px;
      cursor: pointer;
    }
    .input {
      height: 60px;
      border-radius: 10px;
      padding: 5px 20px;
      background-color: $paragraph;
      display: flex;
      align-items: center;
      label {
        display: flex;
        align-items: center;
        gap: 20px;
        span {
          color: #6463ff;
          font-size: 16px;
        }
      }
    }
    .text-end {
      position: absolute;
      bottom: 0;
      right: 30px;
      button {
        background-color: $green;
        border: none;
      }
    }
  }
  .btn-success {
    background-color: $green;
    border: none;
  }
  .Add-more {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 5rem;

    color: rgba(95, 94, 255, 0.5);

    background: #cccdff;
    border-radius: 10px;
    padding: 0.5rem 2rem;
  }
}
.registration-form {
  form {
    .form-control {
      background-color: $paragraph;
      border: none;
      height: 50px;
    }
    .form-select {
      background-color: $paragraph;
      border: none;
      height: 50px;
    }
    label {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;

      color: #0e1133;
    }
  }
}
// .main-admin {
//   .outline-primary {
//     background-color: $blue;
//   }
//   .registration {
//     // width: 1498px;
//     height: 100%;
//     background: #e3e4ff;
//     border-radius: 20px;
//     padding: 0 1rem 1rem;
//     position: relative;
//     filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.25));

//     .profile-p {
//       display: flex;
//       gap: 1rem;
//       margin-left: 7rem;
//       .proIcn {
//         width: 144px;
//         height: 144px;
//         padding: 1rem;
//         z-index: 1;
//         background: rgba(255, 255, 255, 0.75);
//         box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
//         border-radius: 20px;
//       }

//       .pro-flex {
//         margin-top: 1rem;

//         .profile-head {
//           font-style: normal;
//           font-weight: 500;
//           font-size: 32px;
//           line-height: 39px;
//           color: #0e1133;
//         }

//         .profile-desc {
//           font-style: normal;
//           font-weight: 400;
//           font-size: 20px;
//           line-height: 24px;
//           color: #0e1133;
//         }
//       }
//     }

//     .profile-pics {
//       position: relative;
//       .profile-icon {
//         z-index: 9;
//         position: absolute;
//         top: -113px;
//         box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
//         border-radius: 20px;
//         margin-right: 40px;
//         img {
//           width: 150px;
//         }
//       }
//       .frame {
//         position: relative;
//         top: -74px;
//         z-index: -1;
//         left: 48px;
//       }

//       .profile-photo {
//         width: 498.64px;
//         height: 600px;
//         position: relative;
//         // padding: 30px;
//         left: 83px;
//         background: rgba(255, 255, 255, 0.75);
//         box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
//         border-radius: 20px;

//         &::after {
//           content: "";
//           background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
//           // border: 5px dashed red;
//           top: -1rem;
//           height: 100%;
//           width: 100%;
//           position: absolute;
//           left: -1rem;
//           border-radius: 20px;
//         }
//         .edit {
//           background: #f8f8ff;
//           box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
//           border-radius: 20px;
//           width: 80px;
//           height: 79.17px;
//           position: absolute;
//           top: 32px;
//           right: -33px;
//           display: grid;
//           place-content: center;
//           z-index: 9;
//         }
//         .photo {
//           background: url("/images/drag.png") no-repeat;
//           height: 100%;
//           width: 100%;
//           background-size: contain;
//         }
//       }
//     }
//   }
// }


@media (max-width:576px){
  .badge-div{
    .badge-1{
     margin: 0px;
    }
  }
  .information{
    .email-mobile{
      display: flex;
    flex-direction: column;
   
    }
    
  }
  .p-image-upload{
    
    margin-left: 3rem;
    margin-bottom: 1.5rem;
  }
 
}

@media (max-width: 1750px) {
  .main-admin {
    .registration {
      .profile-p {
        display: flex;
        gap: 1rem;

        .proIcn {
          width: 144px;
          height: 144px;
          padding: 1rem;
          z-index: 1;
          background: rgba(255, 255, 255, 0.75);
          box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
        }

        .pro-flex {
          margin-top: 1rem;

          .profile-head {
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 39px;
            color: #0e1133;
          }

          .profile-desc {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #0e1133;
          }
        }
      }

      .profile-pics {
        position: relative;
        margin: 0 auto;
        margin-bottom: 25px;

        .profile-photo {
          left: 18px;
          // height: auto;
          width: 450px;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-tablet-sm) {
  .main-admin {
    .registration {
      .profile-p {
        margin: 0;
      }
      .profile-pics {
        .profile-icon {
          top: 0;
          width: 125px;
          display: none;
        }

        .profile-photo {
          margin: 0 auto;
        }
        .frame {
          display: none;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-tablet) {
  .main-admin {
    .registration {
      .profile-pics {
        width: auto;
        .profile-icon {
          display: none;
        }

        .profile-photo {
          width: 250px;
          left: 0;
          &::after {
            left: 0;
            top: 0;
          }
          .edit {
            top: 0;
            width: 40px;
            height: 40px;
            right: 0;
            border-radius: 10px;
            img {
              width: 30px;
            }
          }
        }
        .frame {
          display: none;
        }
      }
    }
  }
 
}
