@import "@styles/mixin.scss";
@import "@styles/variable.scss";
.resources {
  .light-blue{
    background: $light-blue;
    width: 100%;
    height: 700px;
    position: absolute;
  }
  .iframe {
    position: relative;
    .responsive-iframe {
    }
  }
  .number {
    font-size: $regular-font;
  }
  .headingWhileLabel {
    h1{
      @include title;
      color: $black;
    }
    .center {
      width: 1200px;
      margin: 0 auto;
      ul {
        gap: 5px;
        grid-template-columns: repeat(4, 1fr);
        display: grid;
        list-style: none;
        li {
          position: relative;
          line-height: 40px;
          text-decoration: underline;
          &:before {
            content: "";
            background: url("/images/result/icon.png") no-repeat left;
            width: 20px;
            height: 20px;
            position: absolute;
            left: -25px;
            top: 10px;
          }
        }
      }
    }
    .list-center {
      width: 1200px;
      margin: 0 auto;
      display: grid;
      justify-content: center;
      ul {
        gap: 5px;
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        list-style: none;
        column-gap: 80px;
        li {
          position: relative;
          line-height: 40px;
          &:before {
            content: "";
            background: url("/images/checkIcon.svg") no-repeat left;
            width: 40px;
            height: 40px;
            position: absolute;
            left: -45px;
            top: 0px;
          }
        }
      }
    }
  }
  .side-form {
    @include border;
    background: linear-gradient(180deg, #00c2ff 0%, #65daff 100%);
    padding: 20px;
    h2 {
      color: $text-blue;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 45px;
      line-height: 55px;
      text-align: center;
    }
    h3 {
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      text-transform: uppercase;
      color: $text-blue;
    }
    p {
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      text-align: justify;
      color: $text-blue;
    }
    ul {
      font-weight: 700;
      font-size: 13px;
      line-height: 18px;
      text-align: justify;
      color: #003242;
      padding: 0px 20px;
    }
    button {
      background: #fdd301;
      border: none;
      border-radius: 5px;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      padding: 10px 18px;
    }
    .input-group {
      border: 2px solid #006c8e;
      input {
        border-radius: 0px;
      }
    }
  }
  .register-form {
    background: #00ffc2;
    @include border;
    padding: 20px;
    h1 {
      font-size: 15px;
      text-align: center;
      text-transform: uppercase;
    }
    h2 {
      font-size: 20px;
      font-weight: 900;
      color: $text-blue;
      text-align: center;
    }
  }
  .subscribe-form {
    background: $yellow;
    @include border;
    padding: 20px;
    h1 {
      text-transform: uppercase;
      text-align: center;
      font-size: 30px;
      font-weight: 600;
    }
    h2 {
      font-size: 18px;
      font-weight: 600;
      color: $text-blue;
      text-align: center;
      text-transform: uppercase;
    }
    button {
      background: #d80467;
      border: none;
    }
  }
  .price {
    background: #ccd0ff;
    @include border;
    .ico {
      position: relative;
      width: 112px;
      .sm-icons {
        position: absolute;
        bottom: -14px;
        padding: 10px;
        display: grid;
        place-content: center;
        @include sm-icons;
      }
    }
    .header {
      background: #fff;
      padding: 10px;
      border-radius: 5px 5px 0px 0px;
      .text {
        color: #0e1133;
      }
      .btns {
        display: flex;
        gap: 20px;
      }
    }
  }
  .competive {
    background: $white;
    margin-bottom: 8rem;
    .header {
      background: $dc-blue;
    }
    table {
      tr {
        &:first-child {
          border-bottom: 1px solid rgba(0, 0, 0, 0.35);
        }
        &:last-child {
          border-top: 1px solid rgba(0, 0, 0, 0.35);
        }
        span {
          color: $bg;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
  .list {
    ul {
      column-count: 2;
      line-height: 33px;
    }
  }
  .text {
    color: #fff;
    ul {
      list-style-type: none;
      padding: 0;
      li {
        margin-bottom: 20px;
      }
    }
  }
  .HeroSectionWrapper {
    .frame {
      background: url("/images/s-box.png") no-repeat;
      background-size: 100%;
      width: 160px;
      height: 160px;
      position: absolute;
      left: 0;
    }
    .frame1 {
      background: url("/images/frame-1.png") no-repeat;
      background-size: 100%;
      width: 200px;
      height: 225px;
      position: absolute;
      right: 0;
    }
    .frame2 {
      background: url("/images/frame2.png") no-repeat;
      background-size: 100%;
      width: 300px;
      height: 240px;
      position: absolute;
      right: 40px;
      bottom: 0;
      // transform: skewX(180deg);
    }
    .frame3 {
      background: url("/images/frame-1.png") no-repeat;
      background-size: 100% 100%;
      width: 220px;
      height: 200px;
      position: absolute;
      left: 0px;
      bottom: 0;
      transform: scaleY(-1);
    }
    P {
      color: #0e1133;
    }
    .list1 {
      list-style: none;
      padding: 0;
      column-count: 2;
    }

    .card {
      background: none;
      border: none;
      text-align: center;
      .card-body {
        .card-title {
          color: #0e1133;
        }

        p {
          color: #0e1133;
        }
      }
    }
  }
  .contact-box {
    .w-300 {
      width: 300px;
    }
    input {
      &::placeholder {
        color: #0e1133;
      }
    }
    select {
      background-color: #b1b2ff;
      border: none;
    }
  }
  .icon-bg {
    &::before {
      content: "";
      background: url("/images/result/icon-bg.svg") no-repeat;
      position: absolute;
      width: 232px;
      height: 248px;
      left: -10px;
      z-index: -9;
      top: -15px;
      background-size: 100%;
    }
  }
  .top {
    top: -100px;
  }
  .m {
    top: -42px;
    position: relative;
  }
  h2 {
    @include title;
  }
  .accordion {
    .accordion-item {
      margin-bottom: 80px;
      .accordion-header {
        .accordion-button {
          background: $paragraph;
          color: #0e1133;
          font-weight: 700;
          font-size: 18px;
          &::after {
            display: none;
          }
          .mr {
            margin-left: 128px;
          }
        }
      }
      .accordion-body {
        ul {
          li {
            border-bottom: 1px solid rgba(0, 0, 0, 0.35);
            padding: 10px 0px;
            span {
              background: $paragraph;
              text-transform: uppercase;
              border-radius: 20px;
              padding: 3px 20px;
              cursor: pointer;
            }
            .flex {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
            }
          }
        }
      }
    }
  }

  // Mithlesh scss
  .wrapper {
    background: $bg;
    padding: 60px 0;
    .end {
      h1 {
        @include title;
        font-size: 35px;
      }
    }
    .h-frame {
      background: url("/images/frame2.png") no-repeat;
      background-size: 100%;
      width: 250px;
      height: 200px;
      position: absolute;
      right: 0px;
      top: -100px;
      transform: scaleY(-1);
      opacity: 0.5;
    }
    .img-mask {
      position: relative;
      left: -89px;

      .img-Study1 {
        position: absolute;
        top: 30px;
        right: -79px;
        padding: 1rem;
        width: 178px;
        height: 178px;
        background: rgba(255, 255, 255, 0.75);
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        z-index: 10;
      }

      .img-Study {
        width: 100%;
        // height: 100%;
        position: relative;
      }
      &:before {
        content: "";
        top: -21px;
        position: absolute;
        left: 25px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        border-radius: 20px;
        z-index: 9;
      }
    }
    .frame-4 {
      background: url("/images/StudyAborad/frame-4.png") no-repeat;
      width: 500px;
      height: 500px;
      background-size: 100%;
      position: relative;
      left: -100px;
      top: -84px;
    }
    .heading-first {
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      color: $text-blue;
    }
    .sub-para {
      margin-bottom: 50px;
    }

    .center-img {
      text-align: center;
      .img1-Study {
        width: 100px;
        height: 100px;
        padding: 10px;
        background-color: $white;
        border-radius: 50%;
        border: 10px solid $light-blue;
      }
    }

    .sub-head {
      @include list-heading;
    }
  }

  .second-wrapper {
    margin-top: 8rem;
    .bg {
      position: relative;
      &::before {
        content: "";
        background: #7171ff;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -9;
        left: 0;
      }
      &::after {
        content: "";
        background-image: url("data:image/svg+xml,%3csvg width='100%45' height='100%45' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        width: 100%;
        height: 100%;
        position: absolute;
        top: 20px;
        left: -16px;
        z-index: -9;
      }
      .box {
        display: flex;
        margin-bottom: 35px;
        .icon {
          @include check-icon;
          flex: 0 0 auto;
        }
        .content {
          h6 {
            color: $white;
            font-weight: 700;
            font-size: 20px;
          }
        }
        .more {
          @include bullet-center;
          .circle {
            @include circle;
          }
          .arrow {
            @include arrow;
          }
        }
      }
    }
    .position {
      top: -204px;
      position: relative;
      .position-relative {
        .second-wrapper-child-img {
          img {
            box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
          }
          &::before {
            content: "";
            background-image: url("data:image/svg+xml,%3csvg width='100%45' height='100%45' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
            width: 100%;
            height: 100%;
            position: absolute;
            top: 20px;
            left: -20px;
          }
        }
        .icons {
          position: absolute;
          top: 55px;
          right: -55px;
          box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
          width: 130px;
          height: 130px;
          background: $paragraph;
          position: absolute;
          display: grid;
          place-content: center;
          img {
            width: 100px;
          }
        }
        .photo-frame {
          background: url("/images/StudyAborad/photo-frame.png") no-repeat;
          width: 300px;
          height: 300px;
          background-size: 100%;
          position: absolute;
          bottom: -75px;
          right: -86px;
        }
      }
    }
    .pl {
      padding-left: 8rem;
    }
  }

  .study {
    margin-top: 15rem;
    .frame {
      position: relative;
      .img {
        background: $bg;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        width: 400px;
        height: 500px;
        position: relative;
        &::before {
          content: "";
          background-image: url("data:image/svg+xml,%3csvg width='100%45' height='100%45' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='12' stroke-linecap='square'/%3e%3c/svg%3e");
          width: 100%;
          height: 100%;
          position: absolute;
          top: 20px;
          left: -16px;
          z-index: 9;
        }
      }
      .icons {
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        width: 130px;
        height: 130px;
        background: $paragraph;
        position: absolute;
        display: grid;
        place-content: center;
        top: -62px;
        left: -83px;
        z-index: 99;
        img {
          width: 100px;
        }
      }
      .frame-1 {
        background: url("/images/StudyAborad/frame.png") no-repeat;
        width: 277px;
        height: 197px;
        background-size: 100% 100%;
        position: absolute;
        right: 71px;
        bottom: -144px;
      }
    }
    .box {
      display: flex;
      margin-bottom: 30px;
      .icons {
        width: 100px;
        height: 100px;
        background: #fff;
        border: 10px solid #adb0ff;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        flex: 0 0 auto;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        img {
          width: 60%;
        }
      }
      .content {
        // flex: 0 0 55%;
        h6 {
          @include list-heading;
        }
      }
    }
    .more {
      @include bullet-center;
      .circle {
        @include circle;
      }
      .arrow {
        @include arrow;
      }
    }
  }
  .top-countery {
    margin-top: 15rem;
    .bg {
      position: relative;
      &::before {
        content: "";
        background: #7171ff;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        z-index: -9;
      }
      .heading {
        position: relative;
        padding: 50px;
        &::before {
          @include border-dashed;
          content: "";
          top: 18px;
          left: -27px;
          z-index: -9;
        }
        h2 {
          span {
            font-weight: 500;
            color: #000;
            font-size: 30px;
          }
        }
        .icons {
          background: rgba(255, 255, 255, 0.75);
          box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
          width: 100px;
          height: 100px;
          padding: 10px;
          @include h-center;
          position: absolute;
          right: 34px;
          top: -49px;
          img {
            width: 80px;
          }
        }
      }
      .icon-box {
        @include bullet-center;
        margin: 20px 0px;
        gap: 15px;
        .icons {
          background: rgba(255, 255, 255, 0.5);
          box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
          width: 70px;
          height: 70px;
          border-radius: $border-50;
          padding: 5px;
          @include h-center;
        }
        .content {
          h6 {
            @include list-heading;
          }
          p {
            color: $black;
          }
        }
      }
      .more {
        @include bullet-center;
        .circle {
          @include circle;
        }
        .arrow {
          @include arrow;
        }
      }
      .frame-1 {
        background: url("/images/StudyAborad/frame-1.png") no-repeat;
        width: 500px;
        height: 500px;
        position: absolute;
        top: -259px;
        transform: translate(10px, 10px);
        left: 50%;
      }
      .frame {
        background: url("/images/StudyAborad/frame.png") no-repeat;
        width: 300px;
        height: 195px;
        position: absolute;
        background-size: 100%;
        bottom: -50px;
        right: -95px;
      }
      .frame-3 {
        background: url("/images/StudyAborad/frame-3.png") no-repeat;
        width: 300px;
        height: 195px;
        position: absolute;
        background-size: 100%;
        bottom: -50px;
        left: -95px;
      }
    }
  }
  .top-university {
    .bg {
      .heading {
        .icons {
          left: 34px;
        }
      }
    }
  }
  .popular {
    .bg {
      .icon-box {
        align-items: flex-start;
        .check {
          @include check-icon;
          flex: 0 0 auto;
        }
        .content {
          p {
            color: $paragraph;
          }
        }
      }
    }
  }
  // Mithlesh scss
}
.scholar {
  .price {
    .ico {
      width: 90px;
      .sm-icons {
        top: -44px;
        width: 80px;
        height: 80px;
      }
    }
    .content {
      ul {
        list-style: none;
        position: relative;
        li {
          &::before {
            content: "";
            background: url("../public/images/chack.png");
            width: 15px;
            height: 15px;
            position: absolute;
            left: 9px;
            top: 4px;
            background-size: 100%;
          }
        }
      }
    }
  }
}
.ranking {
  .wrap {
    background: $blue;
    border-radius: 50px;
    padding: 0px 20px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: $text-blue;
  }
  .bg {
    background: $blue;
    display: flow-root;
    border-radius: 10px;
    position: relative;
    &::before {
      content: "";
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='rgba(255, 255, 255, 0.5)' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='10' stroke-linecap='square'/%3e%3c/svg%3e");
      border-radius: 6px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-top: 0;
      position: absolute;
      top: 16px;
      left: -9px;
      width: 100%;
      height: 100%;
      z-index: 9;
    }
    table {
      border-color: $blue;
      thead {
        position: relative;
        z-index: 99;
        background: linear-gradient(
          180deg,
          #eaeaff 0%,
          #ffffff 17.19%,
          #ffffff 27.6%,
          #f2f2ff 48.44%,
          #e6e6ff 48.45%,
          #f7f7ff 100%
        );
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
      }
      tbody {
        background: $light-blue;
        position: relative;
        .d-flex {
          .content {
            h6 {
              font-size: 14px;
            }
            p {
              font-size: 12px;
            }
          }
        }
        .arrow {
          background: url(../public/images/table-arrow.svg) no-repeat;
          width: 53px;
          height: 23px;
          position: absolute;
          background-size: contain;
          text-align: center;
          left: -3px;
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25),
            inset 0px 1px 20px rgba(0, 0, 0, 0.1);
        }
        tr {
          &:last-child {
            border-bottom: $blue;
          }
        }
      }
    }
    .more {
      @include bullet-center;
      position: relative;
      z-index: 999;
      .circle {
        @include circle;
      }
      .arrow {
        @include arrow;
      }
    }
  }
}
// Media Query Mithilesh

@media screen and (max-width: 1600px) {
  .resources .wrapper .img-mask .img-Study2 {
    width: 201.94px;
  }

  .resources .wrapper .img-mask .img-Study3 {
    position: absolute;
    bottom: -44px;
    left: 142px;
    width: 119.85px;
    height: 123.7px;
  }

  .resources .wrapper .img-mask .img-Study4 {
    position: absolute;
    bottom: -266px;
    left: 63px px;
    width: 169px;
    height: 255px;
  }

  .resources .wrapper .img-mask .img-Study5 {
    position: absolute;
    bottom: -262px;
    left: 248px;
    width: 173px;
    height: 311px;
  }

  .resources .wrapper .img-mask .img-Study1 {
    width: 150px;
    height: 150px;
  }

  .resources .wrapper .heading-second {
    font-size: 55px;
  }
}

@media screen and (max-width: 1400px) {
  .resources .wrapper .heading-second {
    font-size: 45px;
  }
}

@media screen and (max-width: 1400px) {
  .resources .wrapper .heading-first {
    font-size: 35px;
  }
  .resources .wrapper .heading-second {
    font-size: 40px;
  }

  .resources .wrapper .para {
    font-size: 20px;
  }
  .resources .wrapper .sub-head {
    font-size: 20px;
  }

  .resources .wrapper .sub-para {
    font-size: 20px;
  }

  .resources .wrapper .img-mask .img-Study1 {
    width: 120px;
    height: 120px;
    right: -58px;
  }

  .resources .wrapper .img-mask .img-Study2 {
    position: absolute;
    bottom: -42px;
    left: -20px;
    width: 140px;
    height: 140px;
  }

  .resources .wrapper .img-mask .img-Study3 {
    position: absolute;
    bottom: -26px;
    left: 99px;
    width: 75px;
    height: 75px;
  }

  .resources .wrapper .img-mask .img-Study4 {
    position: absolute;
    bottom: -129px;
    left: 73px;
    width: 100px;
    height: 100px;
  }

  .resources .wrapper .img-mask .img-Study5 {
    position: absolute;
    bottom: -120px;
    left: 153px;
    width: 110px;
    height: 110px;
  }
}

@media screen and (max-width: 1100px) {
  .resources .wrapper .heading-second {
    font-size: 30px;
  }
}

@media screen and (max-width: 992px) {
  .resources .wrapper .heading-first {
    margin-top: 8rem;
    text-align: center;
  }
  .resources .wrapper .heading-second {
    text-align: center;
  }

  .resources .wrapper .para {
    text-align: justify;
  }

  .resources .wrapper .sub-head {
    text-align: center;
  }

  .resources .wrapper .center-img {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .resources .wrapper {
    padding: 50px 0;
  }
}

@media screen and (max-width: 500px) {
  .resources .wrapper .heading-first {
    font-size: 25px;
  }
  .resources .wrapper .heading-second {
    font-size: 25px;
  }

  .resources .wrapper .para {
    font-size: 15px;
  }

  .resources .wrapper .sub-para {
    font-size: 15px;
  }
}
// Media Query Mithilesh

@media (max-width: $breakpoint-tablet-xxl) {
  .resources {
    .HeroSectionWrapper {
      .content {
        h5 {
          font-size: 13px;
        }
        p {
          font-size: 13px;
        }
      }
    }
    .list {
      ul {
        column-count: 1;
      }
    }
    .icon-bg {
      width: 100px;
    }
    h2 {
      font-size: 35px;
      margin-top: 20px;
    }
    .top {
      top: -45px;
    }
    .m {
      top: 0;
    }
    .headingWhileLabel {
      .list-center {
        width: 100%;
      }
      .center {
        width: 100%;
        ul {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
    .accordion {
      .accordion-item {
        .accordion-header {
          .accordion-button {
            font-size: 14px;
          }
        }
      }
    }
    .study {
      .frame {
        margin: 0 auto;
        width: 400px;
        margin-bottom: 77px;
        .img {
          height: auto;
          width: auto;
        }
      }
    }
    .top-countery {
      .bg {
        .heading {
          &::before {
            left: 0;
          }
        }
      }
    }
    .second-wrapper {
      .bg {
        &::after {
          left: 0;
        }
      }
      .pl {
        padding: 0;
      }
      .position {
        position: unset;
        .position-relative {
          margin: 0 auto;
          width: 400px;
          margin-bottom: 2rem;
          .photo-frame {
            display: none;
          }
        }
      }
    }
    .wrapper {
      .img-mask {
        width: 400px;
        margin: 0 auto;
        left: 0;
      }
    }
    .contact-box {
      .w-300 {
        width: auto;
      }
    }
  }
}
@media (max-width: $breakpoint-phone) {
  .HeroSectionWrapper {
    .headingWhileLabel {
      h1 {
        font-size: $regular-font;
      }
    }
  }
  .resources {
    overflow-x: hidden;
    h2 {
      font-size: 22px;
      span {
        font-size: 18px;
      }
    }
    .headingWhileLabel {
      .center {
        ul {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
    .popular {
      .bg {
        .icon-box {
          .content {
            word-break: break-all;
            h6 {
              font-size: 16px;
            }
          }
        }
      }
    }
    .wrapper {
      .img-mask {
        width: 200px;
        &::before {
          display: none;
        }
      }
    }
    .second-wrapper {
      .bg {
        &::before {
          box-shadow: none;
        }
        &::after {
          display: none;
        }
      }
      .position {
        .position-relative {
          width: 200px;
          .icons {
            img {
              width: 100px;
            }
          }
        }
      }
    }
    .study {
      .frame {
        width: 200px;
        .icons {
          width: 100px;
          height: 100px;
          img {
            width: 70px;
          }
        }
      }
      .box {
        .icons {
          width: 50px;
          height: 50px;
          border: 4px solid $light-blue;
        }
        .content {
          flex: auto;
          h6 {
            font-size: 18px;
          }
        }
      }
    }
    .top-countery {
      .bg {
        &::before {
          box-shadow: none;
        }
        .icon-box {
          .icons {
            width: 50px;
            height: 50px;
          }
          .content {
            h6 {
              font-size: 18px;
            }
          }
        }
        .heading {
          h2 {
            span {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
