@import "@styles/mixin.scss";
@import "@styles/variable.scss";

.HeroSectionWrapper {

  // top: -8rem;
  
  .list-center {
    width: 1200px;
    margin: 0 auto;
    ul {
      gap: 5px;
      grid-template-columns: repeat(2, 1fr);
      display: grid;
      list-style: none;
      li {
        list-style: none;
        position: relative;
        line-height: 40px;
        &:before {
          content: "";
          background: url("/images/SchoolCourseDetails/checkIcon.svg") no-repeat
            left;
          width: 40px;
          height: 40px;
          position: absolute;
          left: -45px;
          top: 0px;
        }
      }
    }
  }
}
.scholar{
  .HeroSectionWrapper{

    .list-center{
      ul{
        grid-template-columns: 1fr;
      }
    }
  }
}

.advertisement-img {
  img {
    width: 300px;
  }
}

.school-course-details {
  .feestructure {
    .second-col {
      width: 292px;

      padding-left: 45px;
      margin-left: 20px;
    }
    hr {
      width: 80%;
    }
  }

  .card {
    background: transparent;
    border: none;
    width: 400px;
    margin: 0 auto;
    img {
      width: 293px;
      height: 263px;
      margin: 0 auto;
    }
    .card-body {
      text-align: center;
      color: #fff;
      .card-title {
        font-size: 35px;
        font-weight: 700;
      }
      p {
        color: #ccd0ff;
      }
    }
  }
  .view-more {
    background-color: #b1b2ff;
    border: navajowhite;
    border-radius: 10px;
  }
  .ap_edu_icon {
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    background: #d6d6fc;
    position: absolute;
    top: -94px;
  }
  .end {
    margin-left: 80px;
  }
  .school-course-details-box {
    position: relative;
    margin-top: 4rem;
    .green {
      box-shadow: inset 0px 0px 30px #1c781b;

      background: #05ff00;
      padding: 10px 20px;
      border-radius: 11px;
      border: none;
      color: #000000;
      height: 38px;
    }
  }
  .bg {
    background: #7171ff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    &::after {
      content: "";
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
      top: 18px;
      background-size: 100% 100%;
      position: absolute;
      left: -20px;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 20px;
    }
    .row {
      position: relative;
      z-index: 99999;
    }
    h1 {
      margin-top: 30px;
    }
    h2 {
      @include title;
      font-size: 35px;
    }
    p {
      //color: #ccd0ff;
      color: #000000;
    }
    .box {
      background: url("/images/SchoolCourseDetails/box1.png") no-repeat;
      height: 212px;
      width: 376px;
      background-size: cover;
      position: absolute;
      right: 24px;
      top: -110px;
    }
    .icon {
      background: url("/images/SchoolCourseDetails/icon2.svg") no-repeat;
      height: 182px;
      position: absolute;
      top: 0;
      z-index: 99;
      width: 200px;
      right: 23px;
      top: -106px;
      background-size: 76%;
      background-position: center;
    }
    .frame {
      background: url("/images/SchoolCourseDetails/Frame.png") no-repeat;
      height: 212px;
      width: 376px;
      position: absolute;
      z-index: 99;
      left: -88px;
      bottom: -95px;
      background-size: 76%;
      background-position: center;
    }

    form {
      .input-group-text {
        background: #b1b2ff;
        border: none;
      }
      .input-group-text {
        img {
          width: 30px;
        }
      }
      .form-control {
        background: #b1b2ff;
        border: none;
      }
    }
  }
  .map {
    margin-top: 150px;
    .bg {
      .icon {
        background: url("/images/SchoolCourseDetails/icon2.svg") no-repeat;
        height: 182px;
        position: absolute;
        top: 0;
        z-index: 99;
        width: 200px;
        left: 23px;
        top: -46px;
        background-size: 76%;
        background-position: center;
      }
      h1 {
        margin-top: 120px;
      }
      .frame {
        background: url("/images/contact/Frame.png") no-repeat;
        height: 212px;
        width: 376px;
        position: absolute;
        z-index: 99;
        right: 0px;
        left: auto;
        bottom: -95px;
        background-size: 76%;
        background-position: center;
      }
    }
    .map-image {
      position: relative;
      height: 500px;
      img {
        // position: absolute;
        left: 0;
        // transform: translate(-17%, 0%);
        top: 0;
        width: 100%;
      }
    }
  }
}
.coursedetails {
  .headingWhileLabel {
    .center {
      width: 1200px;
      margin: 0 auto;
      ul {
        gap: 5px;
        grid-template-columns: repeat(4, 1fr);
        display: grid;
        list-style: none;
        li {
          position: relative;
          line-height: 40px;
          text-decoration: underline;
          &:before {
            content: "";
            background: url("/images/result/icon.png") no-repeat left;
            width: 20px;
            height: 20px;
            position: absolute;
            left: -25px;
            top: 10px;
          }
        }
      }
    }
    .list-center {
      width: 1200px;
      margin: 0 auto;
      display: grid;
      justify-content: center;
      ul {
        gap: 5px;
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        list-style: none;
        column-gap: 80px;
        li {
          position: relative;
          line-height: 40px;
          &:before {
            content: "";
            background: url("/images/checkIcon.svg") no-repeat left;
            width: 40px;
            height: 40px;
            position: absolute;
            left: -45px;
            top: 0px;
          }
        }
      }
    }
  }
  .side-form {
    @include border;
    background: linear-gradient(180deg, #00c2ff 0%, #65daff 100%);
    padding: 20px;
    h2 {
      color: $text-blue;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 45px;
      line-height: 55px;
      text-align: center;
    }
    h3 {
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      text-transform: uppercase;
      color: $text-blue;
    }
    p {
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      text-align: justify;
      color: $text-blue;
    }
    ul {
      font-weight: 700;
      font-size: 13px;
      line-height: 18px;
      text-align: justify;
      color: #003242;
      padding: 0px 20px;
    }
    button {
      background: #fdd301;
      border: none;
      border-radius: 5px;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      padding: 10px 18px;
    }
    .input-group {
      border: 2px solid #006c8e;
      input {
        border-radius: 0px;
      }
    }
  }
  .register-form {
    background: #00ffc2;
    @include border;
    padding: 20px;
    h1 {
      font-size: 15px;
      text-align: center;
      text-transform: uppercase;
    }
    h2 {
      font-size: 20px;
      font-weight: 900;
      color: $text-blue;
      text-align: center;
    }
  }
  .subscribe-form {
    background: $yellow;
    @include border;
    padding: 20px;
    h1 {
      text-transform: uppercase;
      text-align: center;
      font-size: 30px;
      font-weight: 600;
    }
    h2 {
      font-size: 18px;
      font-weight: 600;
      color: $text-blue;
      text-align: center;
      text-transform: uppercase;
    }
    button {
      background: #d80467;
      border: none;
    }
  }
  .price {
    background: #ccd0ff;
    @include border;
    overflow: hidden;
    .header {
      background: #fff;
      padding: 10px;
      .text {
        color: #0e1133;
      }
      .btns {
        &:active {
          border: none;
        }
        a {
          color: #fff;
          text-decoration: none;
          border-radius: 10px;
        }
        .view {
          background: $paragraph;
        }
        .apply {
          background: $green;
        }
      }
    }
  }
  .list {
    ul {
      column-count: 2;
      line-height: 33px;
    }
  }
  .text {
    color: #fff;
    ul {
      list-style-type: none;
      padding: 0;
      li {
        margin-bottom: 20px;
      }
    }
  }
  .HeroSectionWrapper {
    .frame1 {
      background: url("/images/frame1.png") no-repeat;
      width: 300px;
      height: 300px;
      position: absolute;
      right: 0;
    }
    .frame2 {
      background: url("/images/frame1.png") no-repeat;
      width: 300px;
      height: 300px;
      position: absolute;
      right: 40px;
      bottom: 0;
    }
    P {
      color: #0e1133;
    }

    .card {
      background: none;
      border: none;
      text-align: center;
      .card-body {
        .card-title {
          color: #0e1133;
        }

        p {
          color: #0e1133;
        }
      }
    }
  }
  .contact-box {
    input {
      &::placeholder {
        color: #0e1133;
      }
    }
    select {
      background-color: #b1b2ff;
      border: none;
    }
  }
  .icon-bg {
    &::before {
      content: "";
      background: url("/images/result/icon-bg.svg") no-repeat;
      position: absolute;
      width: 232px;
      height: 248px;
      left: -10px;
      z-index: -9;
      top: -15px;
      background-size: 100%;
    }
  }
  .top {
    top: -100px;
  }
  .m {
    top: -42px;
    position: relative;
  }
  h2 {
    @include title;
  }
  p {
    color: $paragraph;
  }
  .accordion {
    .accordion-item {
      margin-bottom: 80px;
      .accordion-header {
        .accordion-button {
          background: $paragraph;
          color: #0e1133;
          font-weight: 700;
          font-size: 25px;
          justify-content: space-between;
          &::after {
            display: none;
          }
          .mr {
            margin-left: 128px;
          }
        }
        .icon {
          height: 112px;
          width: 112px;
          position: absolute;
          top: -49px;
        }
      }
      .accordion-body {
        ul {
          li {
            border-bottom: 1px solid rgba(0, 0, 0, 0.35);
            padding: 10px 0px;
            span {
              background: $paragraph;
              text-transform: uppercase;
              border-radius: 20px;
              padding: 3px 20px;
              cursor: pointer;
            }
            .flex {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
            }
          }
        }
      }
    }
  }

  .wrapper {
    padding: 100px;
    .img-mask {
      position: relative;
      left: -89px;

      .img-Study1 {
        position: absolute;
        top: 30px;
        right: -79px;
        padding: 1rem;
        width: 178px;
        height: 178px;
        background: rgba(255, 255, 255, 0.75);
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        z-index: 10;
      }

      .img-Study {
        width: 100%;
        // height: 100%;
        position: relative;
      }
      &:before {
        content: "";
        top: -21px;
        position: absolute;
        left: 25px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        border-radius: 20px;
        z-index: 9;
      }
    }
    .frame-4 {
      background: url("/images/StudyAborad/frame-4.png") no-repeat;
      width: 500px;
      height: 500px;
      background-size: 100%;
      position: relative;
      left: -100px;
      top: -84px;
    }
    .heading-first {
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      color: $text-blue;
    }
    .sub-para {
      margin-bottom: 50px;
    }

    .center-img {
      text-align: center;
      .img1-Study {
        width: 100px;
        height: 100px;
        padding: 10px;
        background-color: $white;
        border-radius: 50%;
        border: 10px solid $light-blue;
      }
    }

    .sub-head {
      @include list-heading;
    }
  }

  .second-wrapper {
    margin-top: 8rem;
    .bg {
      position: relative;
      &::before {
        content: "";
        background: #7171ff;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -9;
        left: 0;
      }
      &::after {
        content: "";
        background-image: url("data:image/svg+xml,%3csvg width='100%45' height='100%45' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        width: 100%;
        height: 100%;
        position: absolute;
        top: 20px;
        left: -16px;
        z-index: -9;
      }
      .box {
        display: flex;
        margin-bottom: 35px;
        .icon {
          @include check-icon;
          flex: 0 0 auto;
        }
        .content {
          h6 {
            color: $white;
            font-weight: 700;
            font-size: 20px;
          }
        }
        .more {
          @include bullet-center;
          .circle {
            @include circle;
          }
          .arrow {
            @include arrow;
          }
        }
      }
    }
    .position {
      top: -204px;
      position: relative;
      .position-relative {
        .second-wrapper-child-img {
          img {
            box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
          }
          &::before {
            content: "";
            background-image: url("data:image/svg+xml,%3csvg width='100%45' height='100%45' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
            width: 100%;
            height: 100%;
            position: absolute;
            top: 20px;
            left: -20px;
          }
        }
        .icons {
          position: absolute;
          top: 55px;
          right: -55px;
          box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
          width: 130px;
          height: 130px;
          background: $paragraph;
          position: absolute;
          display: grid;
          place-content: center;
          img {
            width: 100px;
          }
        }
        .photo-frame {
          background: url("/images/StudyAborad/photo-frame.png") no-repeat;
          width: 300px;
          height: 300px;
          background-size: 100%;
          position: absolute;
          bottom: -75px;
          right: -86px;
        }
      }
    }
    .pl {
      padding-left: 8rem;
    }
  }

  .study {
    margin-top: 15rem;
    .frame {
      position: relative;
      .img {
        background: $bg;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        width: 400px;
        height: 500px;
        position: relative;
        &::before {
          content: "";
          background-image: url("data:image/svg+xml,%3csvg width='100%45' height='100%45' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='12' stroke-linecap='square'/%3e%3c/svg%3e");
          width: 100%;
          height: 100%;
          position: absolute;
          top: 20px;
          left: -16px;
          z-index: 9;
        }
      }
      .icons {
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        width: 130px;
        height: 130px;
        background: $paragraph;
        position: absolute;
        display: grid;
        place-content: center;
        top: -62px;
        left: -83px;
        z-index: 99;
        img {
          width: 100px;
        }
      }
      .frame-1 {
        background: url("/images/StudyAborad/frame.png") no-repeat;
        width: 277px;
        height: 197px;
        background-size: 100% 100%;
        position: absolute;
        right: 71px;
        bottom: -144px;
      }
    }
    .box {
      display: flex;
      margin-bottom: 30px;
      .icons {
        width: 100px;
        height: 100px;
        background: #fff;
        border: 10px solid #adb0ff;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        flex: 0 0 auto;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        img {
          width: 60%;
        }
      }
      .content {
        // flex: 0 0 55%;
        h6 {
          @include list-heading;
        }
      }
    }
    .more {
      @include bullet-center;
      .circle {
        @include circle;
      }
      .arrow {
        @include arrow;
      }
    }
  }
  .top-countery {
    margin-top: 15rem;
    .bg {
      position: relative;
      &::before {
        content: "";
        background: #7171ff;
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        z-index: -9;
      }
      .heading {
        position: relative;
        padding: 50px;
        &::before {
          @include border-dashed;
          content: "";
          top: 18px;
          left: -27px;
          z-index: -9;
        }
        h2 {
          span {
            font-weight: 500;
            color: #000;
            font-size: 30px;
          }
        }
        .icons {
          background: rgba(255, 255, 255, 0.75);
          box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
          width: 100px;
          height: 100px;
          padding: 10px;
          @include h-center;
          position: absolute;
          right: 34px;
          top: -49px;
          img {
            width: 80px;
          }
        }
      }
      .icon-box {
        @include bullet-center;
        margin: 20px 0px;
        gap: 15px;
        .icons {
          background: rgba(255, 255, 255, 0.5);
          box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
          width: 70px;
          height: 70px;
          border-radius: $border-50;
          padding: 5px;
          @include h-center;
        }
        .content {
          h6 {
            @include list-heading;
          }
          p {
            color: $black;
          }
        }
      }
      .more {
        @include bullet-center;
        .circle {
          @include circle;
        }
        .arrow {
          @include arrow;
        }
      }
      .frame-1 {
        background: url("/images/StudyAborad/frame-1.png") no-repeat;
        width: 500px;
        height: 500px;
        position: absolute;
        top: -259px;
        transform: translate(10px, 10px);
        left: 50%;
      }
      .frame {
        background: url("/images/StudyAborad/frame.png") no-repeat;
        width: 300px;
        height: 195px;
        position: absolute;
        background-size: 100%;
        bottom: -50px;
        right: -95px;
      }
      .frame-3 {
        background: url("/images/StudyAborad/frame-3.png") no-repeat;
        width: 300px;
        height: 195px;
        position: absolute;
        background-size: 100%;
        bottom: -50px;
        left: -95px;
      }
    }
  }
  .top-university {
    .bg {
      .heading {
        .icons {
          left: 34px;
        }
      }
    }
  }
  .popular {
    .bg {
      .icon-box {
        align-items: flex-start;
        .check {
          @include check-icon;
          flex: 0 0 auto;
        }
        .content {
          p {
            color: $paragraph;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .HeroSectionWrapper {
    padding: 0;
    .list-center {
      ul {
        display: flex;
        flex-direction: column;
      }
    }
  }

  // .ap_edu_icon{

  // }
}
@media (max-width: $breakpoint-tablet-xl) {
  .school-course-details {
    .btn {
      a {
        font-size: 10px;
      }
    }
    .card {
      width: auto;
    }
    .bg {
      h2 {
        font-size: 30px;
      }
    }
  }
}
@media (max-width: $breakpoint-tablet-sm) {
  .school-course-details {
    .bg {
      &::after {
        top: 0;
        left: 0;
      }
    }
    .school-course-details-box {
      .icons {
        img {
          position: relative;
          width: 100px;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .coursedetails .wrapper .img-mask .img-Study2 {
    width: 201.94px;
  }

  .coursedetails .wrapper .img-mask .img-Study3 {
    position: absolute;
    bottom: -44px;
    left: 142px;
    width: 119.85px;
    height: 123.7px;
  }

  .coursedetails .wrapper .img-mask .img-Study4 {
    position: absolute;
    bottom: -266px;
    left: 63px px;
    width: 169px;
    height: 255px;
  }

  .coursedetails .wrapper .img-mask .img-Study5 {
    position: absolute;
    bottom: -262px;
    left: 248px;
    width: 173px;
    height: 311px;
  }

  .coursedetails .wrapper .img-mask .img-Study1 {
    width: 150px;
    height: 150px;
  }

  .coursedetails .wrapper .heading-second {
    font-size: 55px;
  }
}

@media screen and (max-width: 1400px) {
  .coursedetails .wrapper .heading-second {
    font-size: 45px;
  }
}

@media screen and (max-width: 1400px) {
  .coursedetails .wrapper .heading-first {
    font-size: 35px;
  }
  .coursedetails .wrapper .heading-second {
    font-size: 40px;
  }

  .coursedetails .wrapper .para {
    font-size: 20px;
  }
  .coursedetails .wrapper .sub-head {
    font-size: 20px;
  }

  .coursedetails .wrapper .sub-para {
    font-size: 20px;
  }

  .coursedetails .wrapper .img-mask .img-Study1 {
    width: 120px;
    height: 120px;
    right: -58px;
  }

  .coursedetails .wrapper .img-mask .img-Study2 {
    position: absolute;
    bottom: -42px;
    left: -20px;
    width: 140px;
    height: 140px;
  }

  .coursedetails .wrapper .img-mask .img-Study3 {
    position: absolute;
    bottom: -26px;
    left: 99px;
    width: 75px;
    height: 75px;
  }

  .coursedetails .wrapper .img-mask .img-Study4 {
    position: absolute;
    bottom: -129px;
    left: 73px;
    width: 100px;
    height: 100px;
  }

  .coursedetails .wrapper .img-mask .img-Study5 {
    position: absolute;
    bottom: -120px;
    left: 153px;
    width: 110px;
    height: 110px;
  }
}

@media screen and (max-width: 1100px) {
  .coursedetails .wrapper .heading-second {
    font-size: 30px;
  }
}

@media screen and (max-width: 992px) {
  .coursedetails .wrapper .heading-first {
    margin-top: 8rem;
    text-align: center;
  }
  .coursedetails .wrapper .heading-second {
    text-align: center;
  }

  .coursedetails .wrapper .para {
    text-align: justify;
  }

  .coursedetails .wrapper .sub-head {
    text-align: center;
  }

  .coursedetails .wrapper .center-img {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .coursedetails .wrapper {
    padding: 50px 0;
  }
}

@media screen and (max-width: 500px) {
  .coursedetails .wrapper .heading-first {
    font-size: 25px;
  }
  .coursedetails .wrapper .heading-second {
    font-size: 25px;
  }

  .coursedetails .wrapper .para {
    font-size: 15px;
  }

  .coursedetails .wrapper .sub-para {
    font-size: 15px;
  }
}

@media (max-width: $breakpoint-tablet-xxl) {
  .HeroSectionWrapper{
    .list-center {
      width: auto;
      margin: 0 auto;
  } 
}
  .coursedetails {
    .list {
      ul {
        column-count: 1;
      }
    }
    .icon-bg {
      width: 100px;
    }
    h2 {
      font-size: 35px;
      margin-top: 20px;
    }
    .top {
      top: -45px;
    }
    .m {
      top: 0;
    }
    .headingWhileLabel {
      .list-center {
        width: 100%;
      }
      .center {
        width: 100%;
      }
    }
    .accordion {
      .accordion-item {
        .accordion-header {
          .accordion-button {
            font-size: 14px;
          }
        }
      }
    }
    .study {
      .frame {
        margin: 0 auto;
        width: 400px;
        margin-bottom: 77px;
        .img {
          height: auto;
          width: auto;
        }
      }
    }
    .top-countery {
      .bg {
        .heading {
          &::before {
            left: 0;
          }
        }
      }
    }
    .second-wrapper {
      .bg {
        &::after {
          left: 0;
        }
      }
      .pl {
        padding: 0;
      }
      .position {
        position: unset;
        .position-relative {
          margin: 0 auto;
          width: 400px;
          margin-bottom: 2rem;
          .photo-frame {
            display: none;
          }
        }
      }
    }
    .wrapper {
      .img-mask {
        width: 400px;
        margin: 0 auto;
        left: 0;
      }
    }
  }
}
@media (max-width: $breakpoint-phone) {
  .coursedetails {
    overflow-x: hidden;
    h2 {
      font-size: 22px;
      span {
        font-size: 18px;
      }
    }
    .popular {
      .bg {
        .icon-box {
          .content {
            word-break: break-all;
            h6 {
              font-size: 16px;
            }
          }
        }
      }
    }
    .wrapper {
      .img-mask {
        width: 200px;
        &::before {
          display: none;
        }
      }
    }
    .second-wrapper {
      .bg {
        &::before {
          box-shadow: none;
        }
        &::after {
          display: none;
        }
      }
      .position {
        .position-relative {
          width: 200px;
          .icons {
            img {
              width: 100px;
            }
          }
        }
      }
    }
    .study {
      .frame {
        width: 200px;
        .icons {
          width: 100px;
          height: 100px;
          img {
            width: 70px;
          }
        }
      }
      .box {
        .icons {
          width: 50px;
          height: 50px;
          border: 4px solid $light-blue;
        }
        .content {
          flex: auto;
          h6 {
            font-size: 18px;
          }
        }
      }
    }
    .top-countery {
      .bg {
        &::before {
          box-shadow: none;
        }
        .icon-box {
          .icons {
            width: 50px;
            height: 50px;
          }
          .content {
            h6 {
              font-size: 18px;
            }
          }
        }
        .heading {
          h2 {
            span {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
