@import "@styles/mixin.scss";
@import "@styles/variable.scss";

.sidebar {
    // padding-top: 8rem;
    // position: fixed;
    // background: $bg;
    // height: 100%;
    // width: 350px;
  .menu {
    .toggle {
      position: absolute;
      top: 54px;
      left: 109px;
      display: none;
      z-index: 2;
      .hamburger{
        i{
          width: 22px;
        height: 3px;
        background:$blue;
        display: block;
        margin: 3px;
        border-radius: 5px;
        transition: all 0.3s ease;
        }
      }
    }
    .active {
      transition: width 0.25s ease-out;
    }
    #side-wrapper{
        width: 400px;
    }
    .admin-flex {
      display: flex;
      gap: 20px;
      margin: 20px;
      align-items: center;
      a{
        text-decoration: none;
      }
      img{
        width: 25px;
      }
      .admin-name {
        color: $blue;
        font-size: 18px;
        padding: 0;
        margin: 0;
      }
    }
  }

      .side-nav{
       background: $bg;
       padding-top: 8rem;
       width: 300px;
       overflow-x: hidden;
       transition: all 0.3s ease;
       height: 100%;
      }
  
}


.open {
  .toggle{
    .hamburger{
      i{
        &:nth-child(1){
          transform: rotate(45deg);
          top: 6px;
          position: relative;
        }
        &:nth-child(2){
          transform: rotate(316deg);
        }
        &:nth-child(3){
          opacity: 0;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .sidebar {
    .menu {
      .non-active {
        transition: width 0.25s ease-out;
      }
      #side-wrapper{
        width: 0;
      }
      .toggle{
        display: block;
        z-index: 99999;
      }
    }
    nav {
        width: 0px;
        // position: absolute;
        // z-index: 9;
      }
      .open{

        .side-nav{
         z-index: 9;
         position: absolute;
        }
      }
    
  }
}
