// ------------------
@import "@styles/mixin.scss";
@import "@styles/variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");

body {
  font-family: "Montserrat" !important;
  background: #5c5bff !important;
  overflow-x: hidden;
}
.btn-primary {
  text-decoration: none;
  border-radius: 10px;
  padding: 5px 20px;
  font-size: 13px;
  cursor: pointer;
}
.btn-secondary {
  background: linear-gradient(
    180deg,
    #05ff00 0%,
    #b5ffc1 4.17%,
    #5cda5a 50.52%,
    #4dbe4a 52.6%,
    #05ff00 100%
  );
  border: 1px solid #a6a6a6;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25),
    inset 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: $black;
  font-weight: 600;
  border: none;
}
.btn-secondary:hover {
  color: $black;
  font-weight: 600;
  border: none;
  outline: 0;
}
.btn-white {
  background: linear-gradient(
    180deg,
    #cbcbcb 0%,
    #ececec 4.17%,
    #ffffff 50.52%,
    #e3e3e3 52.6%,
    #e8e8e8 100%
  );
  border: 1px solid #a6a6a6;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25),
    inset 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: $black;
  font-weight: 600;
}
.btn:hover,
.btn:active {
  fill: currentColor;
}
.btn-white:hover {
  background: linear-gradient(
    180deg,
    #cbcbcb 0%,
    #ececec 4.17%,
    #ffffff 50.52%,
    #e3e3e3 52.6%,
    #e8e8e8 100%
  );
  border: 1px solid #a6a6a6;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25),
    inset 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: $black;
  font-weight: 600;
}
.btn-info {
  background-color: #ccd0ff;
  color: $black !important;
  border: none;
}
.btn-success {
  background-color: $green;
  border: none;
}
.btn-apply {
  color: $white;
  text-decoration: none;
  border-radius: 10px;
  padding: 5px 20px;
  font-size: 13px;
  background-color: $green;
  cursor: pointer;
}
.btn-apply:hover {
  background-color: $green;
  color: $white;
}
.btn-pink {
  background: rgba(95, 94, 255, 0.5);
  color: $white;
  border-radius: 10px;
  border: none;
}
.btn-pink:hover{
  color: $white ;
}
.form-control:focus,
.form-check:focus {
  box-shadow: none;
}
.z-index {
  position: relative;
  z-index: 9;
}
header {
  position: absolute;
  width: 100%;
}
.ps-6 {
  padding-left: 8rem !important;
}
.header {
  .navbar {
    .navbar-toggler {
      &:focus {
        box-shadow: none;
      }
    }
    .nav-item {
      a {
        color: #fff;
        padding: 0px 20px;
        img {
          height: 27px;
        }
      }
      .dropdown-menu {
        background: transparent;
        border: none;
        line-height: 34px;
        .dropdown-item {
          &:hover {
            background: transparent;
          }
        }
      }
    }
  }
}
.main-header {
  background: $dc-blue;
  padding: 8px 20px;
  // position: relative;
  // z-index: 99;
  .logo {
    img {
      width: 80px;
    }
  }
  .notifi {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-right: 20px;
    i {
      height: 40px;
      width: 25px;
      &:nth-child(1) {
        background: url("/images/Email.svg") no-repeat;
        background-size: 100%;
        background-position: center;
      }
      &:nth-child(2) {
        background: url("/images/msg.svg") no-repeat;
        background-size: 100%;
        background-position: center;
      }
      &:nth-child(3) {
        background: url("/images/bell.svg") no-repeat;
        background-size: 78%;
        background-position: center;
      }
      &:nth-child(4) {
        background: url("/images/setting.svg") no-repeat;
        background-size: 100%;
        background-position: center;
      }
    }
  }
  .search {
    .input-group {
      box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
      span {
        background-color: $blue;
        border: none;
      }
      input {
        background-color: $blue;
        border: none;
      }
    }
  }
  .profile-img {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 13px;
    }
    .drop {
      position: absolute;
      top: 66px;
      right: 0;
      z-index: 1000;
      min-width: 10rem;
      padding: 0.5rem 0;
      margin: 0.125rem 0 0;
      font-size: 0.85rem;
      color: #858796;
      text-align: left;
      list-style: none;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #e3e6f0;
      border-radius: 0.35rem;
      ul {
        padding: 0;
        list-style-type: none;
        margin: 0;
        text-align: center;
      }
    }
  }
}
footer {
  background-color: #000000;
  width: 100%;
  padding: 122px 0px 14px 0px;
  p {
    color: #ccd0ff;
    font-size: 20px;
    margin-top: 37px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      color: #ccd0ff;
      font-size: 25px;
      line-height: 47px;
      display: flex;
      gap: 10px;
    }

    a {
      color: #ccd0ff;
      text-decoration: none;
    }
  }
  .footerIconPadding {
    background: url("/images/FooterLogo.png");
  }

  .QuickLinks {
    h3 {
      color: #fff;
      font-size: 30px;
      font-weight: bold;
    }
  }
  .CopyRightsWrapper {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    margin-top: 75px;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #ffffff;
      top: 50%;
    }
    .footerSocialicons {
      background: #000;
      width: 130px;
      z-index: 1;
      padding-left: 0px;
      position: relative;
      ul {
        li {
          list-style: none;
          display: inline-block;
          padding: 0px 5px;
        }
      }
    }
    .copyrightContent {
      background-color: #000;
      position: relative;
      z-index: 1;
      color: #ccd0ff;
      text-align: center;
      font-size: 25px;
      p {
        margin: 0;
        padding: 0px 10px;
      }
    }
  }
}
@media (max-width: 1791px) {
  footer {
    padding: 60px 0px 14px 0px;
    .FooterBox1 {
      img {
        width: 100px;
      }
    }
    p {
      font-size: 18px;
      margin-top: 7px;
    }
    .bottom {
      font-size: 18px;
      margin-top: 7px;
    }
    ul {
      list-style: none;
      margin-bottom: 30px;
      li {
        color: #ccd0ff;
        font-size: 18px;
        line-height: 27px;
        svg {
          width: 20px;
        }
        a {
          color: #ccd0ff;
          text-decoration: none;
          &:hover {
            color: #ccd0ff;
          }
        }
      }
    }
    .footerIconPadding {
      background: url("/images/FooterLogo.png");
    }

    .QuickLinks {
      h3 {
        font-size: 18px;
      }
    }
    .CopyRightsWrapper {
      ul {
        margin: 0;
      }
      margin: 0;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #ffffff;
        top: 50%;
      }
      .footerSocialicons {
        background: #000;
        width: 130px;
        z-index: 1;
        padding-left: 0px;
        position: relative;
        ul {
          li {
            list-style: none;
            display: inline-block;
            padding: 0px 5px;
          }
        }
      }
      .copyrightContent {
        background-color: #000;
        position: relative;
        z-index: 1;
        color: #ccd0ff;
        text-align: center;
        font-size: 25px;
        p {
          margin: 0;
          padding: 0px 10px;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-tablet-xl) {
  // .header{
  //   .navbar{
  //     .nav-item {
  //       a{
  //         padding: 0 10px;
  //       }
  //     }
  //   }
  // }
  .navbar-nav {
    line-height: 40px;
  }
  footer {
    .QuickLinks {
      h3 {
        font-size: 22px;
      }
    }
  }
}
@media (max-width: $breakpoint-phone) {
  .btn {
    font-size: 10px;
  }
  .main-header {
    background: $dc-blue;
    padding: 8px 20px;
    .logo {
      img {
        width: 60px;
      }
    }
    .notifi {
      display: flex;
      align-items: center;
      gap: 18px;
      margin-right: 20px;
      i {
        height: 40px;
        width: 25px;
        &:nth-child(1) {
          background: url("/images/Email.svg") no-repeat;
          background-size: 70%;
          background-position: center;
        }
        &:nth-child(2) {
          background: url("/images/msg.svg") no-repeat;
          background-size: 70%;
          background-position: center;
        }
        &:nth-child(3) {
          background: url("/images/bell.svg") no-repeat;
          background-size: 78%;
          background-position: center;
        }
        &:nth-child(4) {
          background: url("/images/setting.svg") no-repeat;
          background-size: 70%;
          background-position: center;
        }
      }
    }
    .search {
      .input-group {
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
        span {
          background-color: $blue;
          border: none;
        }
        input {
          background-color: $blue;
          border: none;
        }
      }
    }
    .profile-img {
      width: 20px;
      height: 20px;
      position: relative;
      cursor: pointer;
      img {
        width: 20px;
        height: 20px;
        object-fit: cover;
        border-radius: 13px;
      }
      .drop {
        position: absolute;
        top: 66px;
        right: 0;
        z-index: 1000;
        min-width: 10rem;
        padding: 0.5rem 0;
        margin: 0.125rem 0 0;
        font-size: 0.85rem;
        color: #858796;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #e3e6f0;
        border-radius: 0.35rem;
        ul {
          padding: 0;
          list-style-type: none;
          margin: 0;
          text-align: center;
        }
      }
    }
  }
  .navbar {
    .navbar-brand {
      img {
        width: 75px;
      }
    }
  }
  .navbar-nav {
    line-height: 40px;
  }
  footer {
    padding: 60px 0px 14px 0px;
    .FooterBox1 {
      img {
        width: 100px;
      }
    }
    p {
      font-size: 14px;
      margin-top: 7px;
    }
    .bottom {
      font-size: 10px;
      margin-top: 7px;
    }
    ul {
      list-style: none;
      margin-bottom: 30px;
      li {
        color: #ccd0ff;
        font-size: 14px;
        line-height: 27px;
        svg {
          width: 20px;
        }
      }
    }
    .footerIconPadding {
      background: url("/images/FooterLogo.png");
    }

    .QuickLinks {
      h3 {
        font-size: 15px;
      }
    }
    .CopyRightsWrapper {
      ul {
        margin: 0;
      }
      margin: 0;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #ffffff;
        top: 50%;
      }
      .footerSocialicons {
        background: #000;
        width: 130px;
        z-index: 1;
        padding-left: 0px;
        position: relative;
        ul {
          li {
            list-style: none;
            display: inline-block;
            padding: 0px 5px;
          }
        }
      }
      .copyrightContent {
        background-color: #000;
        position: relative;
        z-index: 1;
        color: #ccd0ff;
        text-align: center;
        font-size: 25px;
        p {
          margin: 0;
          padding: 0px 10px;
        }
      }
    }
  }
}
