
$regular-font: 20px;
$white: #fff;
$black: #000;
$text-blue: #0e1133;
$paragraph: #ccd0ff;
$green: #4bae4f;
$yellow: #fdd301;
$blue: #b1b2ff;
$dc-blue: #dcddff;
$bg: #5c5bff;
$btn-primary:#7171FF;
$light-blue: #adb0ff;
$lights-blue: #CCCDFF;

// border-radius
$border-50: 50px;

//responsive
$breakpoint-tablet-xxll: 1300px;
$breakpoint-tablet-xxl: 1199px;
$breakpoint-tablet-xl: 1192px;
$breakpoint-tablet-sm: 991px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 425px;
