@import "@styles/mixin.scss";
@import "@styles/variable.scss";

.headingWhileLabel{
  h1{
    @include title;
    color: $black;
    text-align: center;
  }
}

.second-main {
  background: #e3e4ff;
  border-radius: 20px;
  padding: 1rem;

  .img-sec {
    display: flex;
    justify-content: center;
    .second-img {
      width: 178px;
      height: 178px;
    }
  }

  .txt-sec {
    .text-heading {
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      color: #0e1133;
    }
    .para-text {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #0e1133;
    }

    .text-flex {
      @include reset-list;

      .drop-down {
        @include reset-list;
        gap: 2rem;

        .category-s {
          .select-sec {
            @include selec-sec;
          }
        }

        .document-type-s {
          .select-sec {
            @include selec-sec;
          }
        }

        .all-date-s {
          .select-sec {
            @include selec-sec;
          }
        }
      }

      .icn-flex {
        @include reset-list;
        gap: 2rem;
      }
    }
  }

  .second-section {
    background: #cccdff;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;

    .second-section-flex {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
      .rel-sec {
        position: relative;
        .doc-sec {
          height: 121px;
          width: 151px;
          background: rgba(255, 255, 255, 0.5);
          border-radius: 10px;
          padding: 0.5rem;
        }

        .abst {
          position: absolute;
          bottom: 0;
          left: 0;

          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 18px;
          text-align: center;

          color: #000000;
          background: #ffffff;

          padding: 0.5rem;
          margin: 0.5rem;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          width: 133px;
        }
      }
    }

    .btn-next {
      margin: 3rem 0 1rem 0;
      display: flex;
      justify-content: right;
      align-items: center;
      gap: 2rem;

      .txt {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #a2a2ff;
      }

      .next-bt {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #ffffff;

        background: #4bae4f;
        border-radius: 10px;
        padding: 7px 31px;
      }
    }
  }
}



//Marks CSS
.marks{
    border-radius: 15px;
    margin: 15px;
    padding: 10px;
    background: #cccdff;
    .marksheet{
        background-color: #ffffff;
        border-radius: 15px;
        margin: 10px auto;
    }
    .basic-info-form{
      .form-select{
        background: #fff;
      }
     
    }
    .heading-text{
        font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #0e1133;
    }
    .primary-subtle{
        background:#E3E4FF;
        border-radius: 15px;
        margin: 10px auto;
    }
    
    
        .image-span {
        position: absolute;
           
            margin-top: 5px;
            padding: 5px;
        }
        ::placeholder{
          padding-left: 2rem;
        }
        .select-box{
          padding-left: 39px;
        
        }
        .table-container{
          height: 330px;
          overflow-y: auto;
        }
        .marks-table{
          // height: 330px;
          thead tr>th:first-child{
              border-radius:10px 0 0 10px;
            }
            thead tr>th:last-child{
              border-radius:0 10px 10px 0;
            }
            tr>th{
            padding: 1rem;
            }
            tr>td{
            padding: 1rem;
            }
        }
          .button-div{
            img{
              position: relative;
            }
            button{
              border:none;
              border-radius: 5px;
             
            }
          }
         #dropdown-basic{
            padding-left: 31px;
         }
         .input-form{
          display: flex;
          justify-content: space-around;
          ::placeholder{
            padding-left: 0rem;
          }
         }
         .input-submit{
          position: relative;
          top: -9px;
          margin: 10px 0px;
         }
}

//Marks CSS

//Wallet1 CSS
.IMG-sec1{
  display: flex;
  width: 85%;
   margin: auto;
}
.img-doc1 {
    position: relative;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 50px 50px 100px 50px;
    
  &::after {
    content: " ";
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    // border: 5px solid red;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -1rem;
    left: -1rem;
  }

  .docText1 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #b1b2ff;
    text-shadow: 0px 0px 10px #ffffff;
    display: flex;
    justify-content: center;
    padding-bottom: 75px;
  }
}
.rec-sec1 {
  display: flex;
  justify-content: space-between;
  position: relative;
    top: -140px;
  .rectangle-img1 {
    
    display: flex;
    
    .rectangle-img2{
      display: flex;
    flex-direction: column-reverse;
    }
  }
  .frame-img1 {
    display: flex;
  }
}
.wallet-container{
  .icon-text-div{
    // display: flex;
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: -63px
  }
  .icn-sec{
    @include icons;
    // position: absolute;
    // left: 32px;
    // top: 35px;
  }
  .main-heading{
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin: 25px;
    // position: relative;
    // top: 25px;
    // left: 92px;
  }
  .sub-heading{
    font-weight: 500;
    margin: 17px;
  }
  .wallet1{
    //background-color: #e3e4ff;
    background-color: #CCCDFF;
    border-radius: 15px;
    margin: 60px 15px 15px 15px;
    padding: 10px;
    .text-container{
      width: 80%;
      margin-left: 75px;
    }
    .card-container{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 0px;
      
      .card-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
        width: 20%;
       
        .card-img{
          width: 110px;
          height: 110px;
          display: flex;
          padding-top: 8px;
          padding-bottom: 8px;
          border-radius: 20px;
          text-align: center;
          background-color: #fff;
          border: 5px solid #e5e6ff;
        
        }
        .card-img:hover{
          background-color: #7171ff;
        }
        p{
          padding-top: 10px;
          text-align: center;
          width: 115px;
          font-weight: 500;
        }
      }
    }
    .second-section-flex {
      display: flex;
      
      flex-wrap: wrap;
      gap: 1.5rem;
      .rel-sec {
        position: relative;
        .doc-sec {
          height: 121px;
          width: 151px;
          background: rgba(255, 255, 255, 0.5);
          border-radius: 10px;
          padding: 0.5rem;
        }
  
        .abst {
          position: absolute;
          bottom: 7px;
          left: 0;
  
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 18px;
          text-align: center;
  
          color: #000000;
          background: #ffffff;
  
          padding: 0.5rem;
          margin: 0.5rem;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          width: 148px;
        }
      }
    }
  }
}


//Wallet Upload
.wallet-upload{
  .icon-text-div{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: -63px;
    z-index: 1;
  }
  .icn-sec{
    @include icons;
    // position: absolute;
    // left: 32px;
    // top: 35px;
  }
  .main-heading{
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin: 6px;
    flex-direction: column;
    margin-top: -32px;
  }
  .sub-heading{
    font-weight: 500;
    margin: 17px;
  }
  .wallet1{
    
    background-color: #CCCDFF;
    border-radius: 15px;
    margin: 60px 15px 15px 15px;
    padding: 10px;
    .text-container{
      width: 80%;
      margin-left: 75px;
    }
   
    .AWU-Img-sec {
      @include icons;
      padding: 10px;
      
    }
    .AWU-Para {
      font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #0e1133;
    }
    .AWU-Txt-Sec {
      .AWU-Heading {
        font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 25px;
      color: #0e1133;
      }
     
    }
  
    .IMG-sec {
      .img-doc {
        width: 498.64px;
      height: 654.41px;
        background: rgba(255, 255, 255, 0.75);
        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
  
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        text-align: center;
        align-items: center;
        position: relative;
  
        &::after {
          content: " ";
          background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='rgba(255, 255, 255, 0.5)' stroke-width='6' stroke-dasharray='13%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
          // border: 5px solid red;
          border-radius: 20px;
          width: 100%;
          height: 100%;
          position: absolute;
          top: -1rem;
          left: -1rem;
        }
  
        .docImg {
          margin-top: 2rem;
          width: 65%;
          height: 45vh;
        }
  
        .docText {
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 39px;
          text-align: center;
          color: #b1b2ff;
          text-shadow: 0px 0px 10px #ffffff;
        }
      }
    }
    .rec-sec {
      position: relative;
      padding: 1rem 2rem;
  
      .rectangle-img {
        width: 183px;
        height: 190px;
        //   background: rgba(2, 0, 255, 0.2);
        border-radius: 20px;
        position: absolute;
        bottom: -2rem;
        left: 3rem;
      }
  
      .frame-img {
        width: 205px;
        height: 241px;
        position: absolute;
        bottom: -5rem;
        right: 2rem;
      }
    }
    .docu-sec {
      margin-top: -22px;
      margin-bottom: 16px;
      .docu-head {
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 32px;
        /* identical to box height */
  
        color: #0e1133;
      }
      .computer {
        display: flex;
        align-items: center;
        width: 100%;
        height: 61px;
        background: #cccdff;
        border-radius: 10px;
        border: none;
        .com-photo {
          width: 32px;
          height: 28.8px;
          margin-left: 1rem;
        }
  
        label.label input[type="file"] {
          position: absolute;
          top: -10000px;
        }
        .label {
          cursor: pointer;
          border-radius: 5px;
          padding: 5px 15px;
          // margin: 5px;
          display: inline-block;
        }
  
        .label span {
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 29px;
         // color: #6463ff;
          color: #000000;
        }
      }
      // .computer:hover{
      //   background-color: #6160FF;
      //   .label span {
      //     color: #fff;
      //   }
      // }
    }
  
    .form-AWU {
      background: #ffffff;
      border-radius: 10px;
      padding: 1rem;
      
      .docu-head {
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 10px;
        color: #0e1133;
      }
      .computer {
        display: flex;
        align-items: center;
        width: 100%;
        height: 61px;
        background: #cccdff;
        border-radius: 10px;
  
        .com-photo {
          width: 32px;
          height: 28.8px;
          margin-left: 1rem;
        }
  
        label.label input[type="file"] {
          position: absolute;
          top: -10000px;
        }
        .label {
          cursor: pointer;
          border-radius: 5px;
          padding: 5px 15px;
          margin: 5px;
  
          display: inline-block;
        }
  
        .label span {
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 29px;
          color: #6463ff;
        }
      }
      .computer-text {
        background: #cccdff;
        border-radius: 10px;
        width: 100%;
        height: 20vh;
        border: none;
        outline: none;
  
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        padding: 1rem;
        color: #6463ff;
      }
  
      .bttn-sec {
        display: flex;
        justify-content: flex-end;
        gap: 2rem;
        margin: 1rem;
        text-align: center;
        align-items: center;
        .upload {
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
          color: #ffffff;
  
          background: #4bae4f;
          border-radius: 10px;
          padding: 0.5rem 2rem;
        }
        .or {
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 29px;
  
          color: #7170ff;
        }
        .Cancel {
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
          color: #ffffff;
          // color: #7170ff;
          background: #4bae4f;
          border-radius: 10px;
          padding: 0.5rem 2rem;
        }
      }
    }
    
    // .second-section-flex {
    //   display: flex;
      
    //   flex-wrap: wrap;
    //   gap: 1.5rem;
    //   .rel-sec {
    //     position: relative;
    //     .doc-sec {
    //       height: 121px;
    //       width: 151px;
    //       background: rgba(255, 255, 255, 0.5);
    //       border-radius: 10px;
    //       padding: 0.5rem;
    //     }
  
    //     .abst {
    //       position: absolute;
    //       bottom: 7px;
    //       left: 0;
  
    //       font-style: normal;
    //       font-weight: 400;
    //       font-size: 15px;
    //       line-height: 18px;
    //       text-align: center;
  
    //       color: #000000;
    //       background: #ffffff;
  
    //       padding: 0.5rem;
    //       margin: 0.5rem;
    //       border-bottom-left-radius: 10px;
    //       border-bottom-right-radius: 10px;
    //       width: 148px;
    //     }
    //   }
    // }
  }
}


// Media Query

@media screen and (max-width: 1254px) {
 
}

@media screen and (max-width: 1160px) {
  .AWU-Txt-Sec {
    margin-left: 2rem;
  }

 
}

@media screen and (max-width: 576px) {
  .wallet-upload{
    .icon-text-div{
      width: 100%;
    }
    .icn-sec{
      width:50%;
    }
    .main-heading{
      font-size: 16px;
    }
    .wallet1{
      .form-AWU{
        .bttn-sec{
          justify-content: center;
      .upload{
        padding: 0.5rem 1rem;
      }
      .Cancel{
        padding: 0.5rem 1rem;
      }
        }
      }
    }
    
   
  }
 
    .IMG-sec1{
      margin: 0;
    }
  .img-doc1{
    .docText1{
      padding-bottom: 0px;
    }
  }

  .rec-sec1{
    top: -110px;
    .rectangle-img1{
      //padding: 15px;
      margin: -15px;
    }
  } 
  .rec-sec1{
    .frame-img1{
      //padding: 15px;
      margin: 0px;
    position: relative;
    left: 22px;
    }
  } 
  .wallet-container{
    
    .main-heading{
      margin: 15px;
    }
    .wallet1{
      
      .card-container{
        flex-direction: column;
        align-items: center;
      }
      .second-section-flex {
        justify-content: center;
    }
  }
  }
 
}
.upload-list-container{
  background-color: #CCCDFF;
    border-radius: 12px;
    margin: 60px 15px 15px 15px;
    padding: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  .upload-list{
    display: flex;
  flex-direction: row;
  width: 100%;
  background: #fff;
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.1),
            inset -1px -1px 2px #ffffff, inset 1px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 0px;
    .box-1{
      display: flex;
      width: 80%;
      .image-box {
        width: 20%;
      }  
      .text-box{
        width: 80%;
      }
    }
    .box-2{
      display: flex;
      width: 80%;
         
    }
    .box-3{
      display: flex;
      width: 20%;
         
    }
    .image-box{
      display: flex;      
    }
    .text-box{
      display: flex;
      flex-direction: column;
    }
    .button-box{
      display: flex;
      margin: auto;
      button{
          background: none;
          border: none;
      }
    }
  }
}
@media screen and (max-width: 400px) {}

